<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Insync_Product>
            <version>1.0</version>
        </Insync_Product>
    </modules>
    <global>
        <models>
            <product>
                <class>Insync_Product_Model</class>
            </product>
        </models>
    </global>
</config>