<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Sellerqualitycraftsvilla>
            <version>0.1.0</version>
        </Craftsvilla_Sellerqualitycraftsvilla>
    </modules>
    <frontend>
      <routers>
            <sellerqualitycraftsvilla>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Sellerqualitycraftsvilla</module>
                    <frontName>sellerqualitycraftsvilla</frontName>
                </args>
            </sellerqualitycraftsvilla>
        </routers>
        <layout>
            <updates>
                <sellerqualitycraftsvilla>
                    <file>sellerqualitycraftsvilla.xml</file>
                </sellerqualitycraftsvilla>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<sellerqualitycraftsvilla>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Sellerqualitycraftsvilla</module>
					<frontName>sellerqualitycraftsvilla</frontName>
				</args>
			</sellerqualitycraftsvilla>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			
			<catalog>
				<children>
					<sellerqualitycraftsvilla module="sellerqualitycraftsvilla">
						<title>Sellerqualitycraftsvilla</title>
						<sort_order>71</sort_order>               
						<action>sellerqualitycraftsvilla/adminhtml_sellerqualitycraftsvilla</action>
					</sellerqualitycraftsvilla>
				</children>
			</catalog>
			
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<catalog>
							<children>
								<sellerqualitycraftsvilla translate="title" module="sellerqualitycraftsvilla">
									<title>Sellerqualitycraftsvilla Module</title>
									<sort_order>10</sort_order>
								</sellerqualitycraftsvilla>
							</children>
						</catalog>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<sellerqualitycraftsvilla>
					<file>sellerqualitycraftsvilla.xml</file>
				</sellerqualitycraftsvilla>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <sellerqualitycraftsvilla>
                <class>Craftsvilla_Sellerqualitycraftsvilla_Model</class>
                <resourceModel>sellerqualitycraftsvilla_mysql4</resourceModel>
            </sellerqualitycraftsvilla>
            <sellerqualitycraftsvilla_mysql4>
                <class>Craftsvilla_Sellerqualitycraftsvilla_Model_Mysql4</class>
             <entities>
                    <sellerqualitycraftsvilla>
                        <table>seller_quality_craftsvilla</table>
                    </sellerqualitycraftsvilla>
                </entities>
            </sellerqualitycraftsvilla_mysql4>
        </models>
         <resources>
            <sellerqualitycraftsvilla_setup>
                <setup>
                    <module>Craftsvilla_Sellerqualitycraftsvilla</module>
                </setup>
                <connection>
                    <use>statsdb_connection</use>
                </connection>
            </sellerqualitycraftsvilla_setup>
            <sellerqualitycraftsvilla_write>
                <connection>
                    <use>statsdb_connection</use>
                </connection>
            </sellerqualitycraftsvilla_write>
            <sellerqualitycraftsvilla_read>
                <connection>
                    <use>statsdb_connection</use>
                </connection>
            </sellerqualitycraftsvilla_read>
        </resources>
        <blocks>
            <sellerqualitycraftsvilla>
                <class>Craftsvilla_Sellerqualitycraftsvilla_Block</class>
            </sellerqualitycraftsvilla>
        </blocks>
        <helpers>
            <sellerqualitycraftsvilla>
                <class>Craftsvilla_Sellerqualitycraftsvilla_Helper</class>
            </sellerqualitycraftsvilla>
        </helpers>
    </global>
</config>
