<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Razorpay>
            <version>1.1.7</version>
        </Craftsvilla_Razorpay>
    </modules>
    <global>
        <blocks>
            <craftsvilla_razorpay>
                <class>Craftsvilla_Razorpay_Block</class>
            </craftsvilla_razorpay>
        </blocks>
        <models>
            <craftsvilla_razorpay>
                <class>Craftsvilla_Razorpay_Model</class>
            </craftsvilla_razorpay>
        </models>
        <helpers>
            <craftsvilla_razorpay>
                <class>Craftsvilla_Razorpay_Helper</class>
            </craftsvilla_razorpay>
        </helpers>
        <resources>
            <craftsvilla_razorpay_setup>
                <setup>
                    <module>Craftsvilla_Razorpay</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </craftsvilla_razorpay_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <razorpay>
                    <file>razorpay.xml</file>
                </razorpay>
            </updates>
        </layout>
        <routers>
            <razorpay>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Razorpay</module>
                    <frontName>razorpay</frontName>
                </args>
            </razorpay>
        </routers>
        <secure_url>
            <razorpay_order>/razorpay/order</razorpay_order>
        </secure_url>
    </frontend>
    <default>
        <payment>
            <razorpay>
                <model>razorpay/paymentmethod</model>
                <title>Razorpay</title>
                <merchant_name_override>Magento</merchant_name_override>
                <payment_action>authorize_capture</payment_action>
                <active>1</active>
                <order_status>processing</order_status>
                <key_id>rzp_test_481qMU1SmyreNu</key_id>
                <key_secret>ymPUqKBsikb9MIxwtOEjBSAG</key_secret>
            </razorpay>
        </payment>
    </default>
</config>
