<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Productupdate>
            <version>0.1.0</version>
        </Craftsvilla_Productupdate>
    </modules>
    <!--<frontend>
      <routers>
            <productupdate>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Productupdate</module>
                    <frontName>productupdate</frontName>
                </args>
            </productupdate>
        </routers>
        <layout>
            <updates>
                <productupdate>
                    <file>productupdate.xml</file>
                </productupdate>
            </updates>
        </layout>
    </frontend>-->
    <admin>
        <routers>
			<productupdate>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Productupdate</module>
					<frontName>productupdate</frontName>
				</args>
			</productupdate>
        </routers>
    </admin>
    <adminhtml>
		<menu>
                <catalog>
                <children>
			<productupdate module="productupdate">
				<title>Productupdate</title>
				<sort_order>71</sort_order> 
                                <action>productupdate/adminhtml_productupdate</action>             
			</productupdate>
                        

                </children>
                </catalog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
                                        <catalog>
                                        <children>
						<productupdate translate="title" module="productupdate">
									<title>Productupdate Module</title>
									<sort_order>10</sort_order>
                                                </productupdate>
                                                
					</children>
                                        </catalog>
                                        </children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<productupdate>
					<file>productupdate.xml</file>
				</productupdate>
			</updates>
		</layout>
    </adminhtml>   
    <global>
       <!--- <models>
            <productupdate>
                <class>Craftsvilla_Productupdate_Model</class>
                <resourceModel>productupdate_mysql4</resourceModel>
            </productupdate>
            <productupdate_mysql4>
                <class>Craftsvilla_Productupdate_Model_Mysql4</class>
             <entities>
                    <productupdate>
                        <table>catalog_product_craftsvilla4</table>
                    </productupdate>
                </entities>
            </productupdate_mysql4>
        </models>-->
        <resources>
            <productupdate_setup>
                <setup>
                    <module>Craftsvilla_Productupdate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productupdate_setup>
            <productupdate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productupdate_write>
            <productupdate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productupdate_read>
        </resources>
        <blocks>
            <productupdate>
                <class>Craftsvilla_Productupdate_Block</class>
            </productupdate>
        </blocks>
        <helpers>
            <productupdate>
                <class>Craftsvilla_Productupdate_Helper</class>
            </productupdate>
        </helpers>
    </global>
</config>
