<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Refundrequestedcustomer>
            <version>0.1.0</version>
        </Craftsvilla_Refundrequestedcustomer>
    </modules>
    <frontend>
        <routers>
            <refundrequestedcustomer>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Refundrequestedcustomer</module>
                    <frontName>refundrequestedcustomer</frontName>
                </args>
            </refundrequestedcustomer>
        </routers>
        <layout>
            <updates>
                <refundrequestedcustomer>
                    <file>refundrequestedcustomer.xml</file>
                </refundrequestedcustomer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<refundrequestedcustomer>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Refundrequestedcustomer</module>
					<frontName>refundrequestedcustomer</frontName>
				</args>
			</refundrequestedcustomer>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		<sales>
		<children>
					<refundrequestedcustomer module="refundrequestedcustomer">
						<title>Refundrequestedcustomer</title>
						<sort_order>71</sort_order>               
						<action>refundrequestedcustomer/adminhtml_refundrequestedcustomer</action>
					</refundrequestedcustomer>
				</children>
		 </sales>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<sales>
							<children>
								<refundrequestedcustomer translate="title" module="refundrequestedcustomer">
									<title>Refundrequestedcustomer Module</title>
									<sort_order>10</sort_order>
								</refundrequestedcustomer>
							</children>
						</sales>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<refundrequestedcustomer>
					<file>refundrequestedcustomer.xml</file>
				</refundrequestedcustomer>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <refundrequestedcustomer>
                <class>Craftsvilla_Refundrequestedcustomer_Model</class>
                <resourceModel>refundrequestedcustomer_mysql4</resourceModel>
            </refundrequestedcustomer>
            <refundrequestedcustomer_mysql4>
                <class>Craftsvilla_Refundrequestedcustomer_Model_Mysql4</class>
                <entities>
                    <refundrequestedcustomer>
                        <table>refundrequestedcustomer</table>
                    </refundrequestedcustomer>
                </entities>
            </refundrequestedcustomer_mysql4>
        </models>
        <resources>
            <refundrequestedcustomer_setup>
                <setup>
                    <module>Craftsvilla_Refundrequestedcustomer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </refundrequestedcustomer_setup>
            <refundrequestedcustomer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </refundrequestedcustomer_write>
            <refundrequestedcustomer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </refundrequestedcustomer_read>
        </resources>
        <blocks>
            <refundrequestedcustomer>
                <class>Craftsvilla_Refundrequestedcustomer_Block</class>
            </refundrequestedcustomer>
        </blocks>
        <helpers>
            <refundrequestedcustomer>
                <class>Craftsvilla_Refundrequestedcustomer_Helper</class>
            </refundrequestedcustomer>
        </helpers>
    </global>
</config>
