<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Activeshipment>
            <version>0.1.0</version>
        </Craftsvilla_Activeshipment>
    </modules>
    <frontend>
      <routers>
            <activeshipment>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Activeshipment</module>
                    <frontName>activeshipment</frontName>
                </args>
            </activeshipment>
        </routers>
        <layout>
            <updates>
                <activeshipment>
                    <file>activeshipment.xml</file>
                </activeshipment>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<activeshipment>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Activeshipment</module>
					<frontName>activeshipment</frontName>
				</args>
			</activeshipment>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<sales>
				<children>
					<activeshipment module="activeshipment">
						<title>Activeshipment</title>
						<sort_order>71</sort_order>               
						<action>activeshipment/adminhtml_activeshipment</action>
					</activeshipment>
				</children>
			</sales>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<sales>
							<children>
								<activeshipment>
									<title>Activeshipment Module</title>
									<sort_order>10</sort_order>
								</activeshipment>
							</children>
						</sales>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<activeshipment>
					<file>activeshipment.xml</file>
				</activeshipment>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <activeshipment>
                <class>Craftsvilla_Activeshipment_Model</class>
                <resourceModel>activeshipment_mysql4</resourceModel>
            </activeshipment>
            <activeshipment_mysql4>
                <class>Craftsvilla_Activeshipment_Model_Mysql4</class>
             <entities>
                    <activeshipment>
                        <table>activeshipment</table>
                    </activeshipment>
                </entities>
            </activeshipment_mysql4>
        </models>
        <resources>
            <activeshipment_setup>
                <setup>
                    <module>Craftsvilla_Activeshipment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </activeshipment_setup>
            <activeshipment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </activeshipment_write>
            <activeshipment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </activeshipment_read>
        </resources>
        <blocks>
            <activeshipment>
                <class>Craftsvilla_Activeshipment_Block</class>
            </activeshipment>
        </blocks>
        <helpers>
            <activeshipment>
                <class>Craftsvilla_Activeshipment_Helper</class>
            </activeshipment>
        </helpers>
    </global>
</config>