<?xml version="1.0"?>
<config>
  <modules>
    <Craftsvilla_Vendorseo>
      <version>0.1.0</version>
    </Craftsvilla_Vendorseo>
  </modules>
  <global>
    <helpers>
      <vendorseo>
        <class>Craftsvilla_Vendorseo_Helper</class>
      </vendorseo>
    </helpers>
	<blocks>
	  <vendorseo>
		<class>Craftsvilla_Vendorseo_Block</class>
	  </vendorseo>
	</blocks>
	<models>
	  <vendorseo>
		<class>Craftsvilla_Vendorseo_Model</class>
		<resourceModel>vendorseo_mysql4</resourceModel>
	  </vendorseo>
	  <vendorseo_mysql4>
		<class>Craftsvilla_Vendorseo_Model_Mysql4</class>
		<entities>		  
			  <vendorseo>
				<table>vendorseo</table>
			  </vendorseo>
		</entities>
	  </vendorseo_mysql4>
	</models>
	<resources>
	  <vendorseo_setup>
		<setup>
		  <module>Craftsvilla_Vendorseo</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </vendorseo_setup>
	  <vendorseo_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </vendorseo_write>
	  <vendorseo_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </vendorseo_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <vendorseo>
	    <use>admin</use>
		<args>
		  <module>Craftsvilla_Vendorseo</module>
		  <frontName>admin_vendorseo</frontName>
		</args>
	  </vendorseo>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	 <sales>
		  <children>
			  <vendorseo module="vendorseo">
				 <title>Manage Vendorseo</title>
				<sort_order>742</sort_order>
				<action>admin_vendorseo/adminhtml_vendorseo</action>
			  </vendorseo>
			</children>
	 </sales>
	</menu>
		
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <sales>
			<children>
				  <vendorseo translate="title">
					<title>Manage Vendorseo</title>
					<sort_order>742</sort_order>
				  </vendorseo>
			  </children>
		  </sales>
		</admin>
	  </resources>
	</acl>
	
   <layout>
	  <updates>
		<vendorseo>
		  <file>vendorseo.xml</file>
		</vendorseo>
	  </updates>
	</layout>
  </adminhtml>
</config> 