<!--@subject Get Extra 5% Off If You Complete Your Purchase Today on Craftsvilla.com! @-->
<style type="text/css">
body, td {
	color:#2f2f2f;
	font:11px Arial, Helvetica, sans-serif;
}
a{text-decoration:none; color:#666; font-weight:bold;}

</style>
<div>
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; margin-bottom:10px; background:#FFF;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="800">
          <tr>
            <td valign="top" align="center"><a href="{{store url=''}}"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt="Craftsvilla"  style="margin-bottom:10px;" border="0"/></a></td>
          </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="800">
          <tr>
            <tr><td><img src="{{skin url='images/top_image.jpg' _area='frontend'}}" alt="" /></td></tr>
         
          <tr>
                 <td valign="top" style="font-size:13px; color:#444; padding:0 40px; line-height:18px; line-height:20px;"><p style="font-size:18px;">Dear  <span style="color:#CE3D49;">{{var customer_name}},</span></p>

  <p style="background:#CE3D49; padding:5px; color:#FFF;margin:20px 0;">We noticed that you have added few products on our website but have not completed your order. We would like to help you complete the order. If you have any questions you can email us at <a href="mailto:customercare@craftsvilla.com" style="text-decoration:none; color:#666; font-weight:bold;">customercare@craftsvilla.com</a> or call us at +91-9987283229 between 10 AM to 7 PM India time. As token of our appreciation, we offer you flat 5% off coupon valid for next 2 days, if you complete your order. The coupon code is : <span style="color: #013B58;font-family: times New Roman;font-size: 18px;"><b>CRAFTAGE</b></span></p> 
                   
                   <div style="color:#666;">               
                
               <div style="border:1px dashed #ccc; padding:10px; background:#F7F7F3; margin:0;">    
                           
            <h3 style="font-weight:normal; font-size:18px; margin-top:-2px; float:left;padding:0 0px 5px 0"> Complete Your Order Below Today And Get Extra 5% Off. Apply Coupon Code CRAFTAGE at Checkout. </h3>

<div style="float:left; width:329px; clear:both;">
<strong>Recover:</strong>
<div style="background:#efefee; padding:5px; margin-top:10px;">
You can view your shopping cart by clicking below
  <p style="text-align:left;">{{var recover_url}} </p>
</div>
</div>
<br />
<div style="float:left; width:329px; clear:both;">
<strong>Shopping Cart Contents:</strong>
<div style="padding:8px 0 8px 8px;">
{{var products}}
</div>
</div>
<div style="clear:both;"></div>

<!--{{depend real_quote}}
                    <p><a href="{{var recover_url}}"  style="text-decoration:none; color:#666; font-weight:bold;" >Recover </a><br> (url:{{var recover_url}})</p>
{{/depend}} -->

 <!--<div style="background:#7599AB; color:#FFF; padding:4px 4px 4px 11px; margin-top:10px;">
 
   <img src="{{skin url='images/callic.png' _area='frontend'}}" alt="" style="vertical-align:middle; float:left; margin:7px 10px 0 0; width:29px;" /> <p style="font-size:16px; color:#fff; margin:0; padding:5px 0 0 0;">Call us now at +91-92232-11777 to place your order.<br /><span style="font-size:12px;">Our proactive customer service will help you place your order.</span></p>
 
 
  
 
 </div>--><br><br>
  <!--<div><strong><font size="10"><center>Below Are Few Beautiful Products Handpicked Just For You. Enjoy Them!</center></font></strong><br>-->
<div>	<center><img src="http://d1g63s1o9fthro.cloudfront.net/skin/frontend/default/craftsvilla2012/img/abandon_image1.jpg" /></center>
                 {{var otherproducts}}</div>  
 <p>
In case you are facing some payment problems, we have various options like net banking, credit card, debit card etc.  You could also pay directly into our Net Banking account. 
</p>
<p>Please purchase your lovely products while they are still in stock.  Please write to us at <a href="mailto:customercare@craftsvilla.com" style="text-decoration:none; color:#666; font-weight:bold;">customercare@craftsvilla.com</a></p>

              
                </div>
              </div>
                
                   
                   <p style="float:left; font-size:12px; width:59%;">Best Wishes from <br />
<strong>Craftsvilla Family</strong> <br /></p>
              <p align="right" style="float:right;"><img border="0" style="margin-bottom:10px;" alt="Craftsvilla" src="{{skin url='images/smalllogo.jpg' _area='frontend'}}"></p>
                   
                
                   
                                             
                
	      <!--<p>Your Shopping Cart:  </p>
<p>{{var products}}</p>
                  
{{depend real_quote}}
                    <p><a href="{{var recover_url}}" >Recover </a><br> (url:{{var recover_url}})</p>
{{/depend}} 
{{depend coupon}}
                    <p>Feel free to use this coupon: {{var coupon}}</p>
                    <p>Please note that it expires in {{var coupon_days}} day(s)</p>
{{/depend}} 

                    <p>We are always interested in knowing what reason made you decide not to purchase at this time. If you could be so kind as to let us know if you had any issues or concerns, we would appreciate it. We are asking for feedback from you and others as to how we can make your experience at {{var website_name}} better.</p>

<p>PLEASE NOTE:</p>
<p>If you believe you completed your purchase and are wondering why it was not delivered, this email is an indication that your order was NOT completed, and that you have NOT been charged! Please return to the store in order to complete your order.</p>

<p>We apologize, if you already completed your purchase and received this message by mistake.</p>

<p>Again, thank you for your time and consideration in helping us improve our website.</p>

<p>Sincerely,  {{var store_name}} Team</p>

                     <p><a href="{{var store_url}}">{{var store_name}}</a></p>-->
                     
                     
                     
                     
               </td>
           </tr>
       </table>
   </td>
</tr>
</table>
</div>
