<!--@subject Welcome, {{var cust_name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->
   
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
  <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
      <td align="center" valign="top" style="padding:20px 0 20px 0"><!-- [ header starts here] -->
        
        <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
          <tr>
            <td valign="top" ><a href="{{store url=""}}"><img src="{{skin url="images/Craftsvilla.jpg" _area='frontend'}}"  border="0" width="78" height="68"></a></td>
          </tr>
          <!-- [ middle starts here] -->
          <tr>
            <td valign="top"><h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Namaste {{var cust_name}},</h1>
              <p style="font-size:12px; line-height:16px; margin:16px 0;">Welcome to Craftsvilla Family. It is fun to discover India here with our more than 1 Million unique Indian products from 10,000+ artisans, micro entreprenerus and designers across India. </p>
<p>Below are your login details:</p>
<p><strong>Login Id:</strong> {{var cust_email}}<br/>
<strong>Password:</strong> {{var customer_password}}</p>
              <p style="border:1px solid #00CCFF; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;"> - <a href="http://www.craftsvilla.com/jewellery-jewelry.html" STYLE="TEXT-DECORATION: NONE"> <font color="#00CCFF"> Discover Our 1 Lakh+ Amazing Jewelry Here.</font></a><br>
                <!--- <a href="http://www.craftsvilla.com/catalogsearch/result/?dir=desc&q=rajasthali" STYLE="TEXT-DECORATION: NONE"> <font color="#00CCFF">Discover</font></a> our Featured Seller. </a> <br>--> - <a href="http://www.craftsvilla.com/sarees-sari.html" STYLE="TEXT-DECORATION: NONE"> <font color="#00CCFF">Discover Our 75000+ Saree Collection.</font></a><br><a href="http://www.craftsvilla.com/clothing/blouse.html" STYLE="TEXT-DECORATION: NONE"> -<font color="#00CCFF"> Discover Our Designer Blouses Here.</font></a><br><a href="http://www.craftsvilla.com/clothing/salwar-suit.html" STYLE="TEXT-DECORATION: NONE"> -<font color="#00CCFF"> Discover Our Designer Suits Here.</font></a><br></p>
              <p style="font-size:12px; line-height:16px; margin:16px 0;">Get to know the Craftsvilla community:</p>
              <p style="border:1px solid #00CCFF; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;"> - <a href="http://blog.craftsvilla.com" STYLE="TEXT-DECORATION: NONE"> <font color="#00CCFF">Craftsvilla Blog</font></a> &nbsp; Know more about crafts and craftsmen. <br>
                <!--- <a href="http://www.youtube.com/watch?v=Ei6hMUuEu0U" STYLE="TEXT-DECORATION: NONE"><font color="#00CCFF">Videos</font></a>   &nbsp; Know more about our sellers and us. <br>--> 
                - <a href="http://www.facebook.com/craftsvilla" STYLE="TEXT-DECORATION: NONE"><font color="#00CCFF">Facebook</font></a> &nbsp; Know more about our products.</p>
              <!--<p style="font-size:12px; line-height:16px; margin:16px 0;">Our featured discoveries: </p>-->
              <!--<table bgcolor="#f9f9f9" cellspacing="0" cellpadding="10"  width="650" style="border:1px solid #00CCFF;">
                <tr>
                  <td valign="top"><a href="http://www.craftsvilla.com/bags-craftsvilla/green-crafted/rs-700/sine-cos.html"><img src="{{skin url="images/acbg000408_1.png" _area='frontend'}}" width="75" height="75"  style="border:2px solid #999;" ></a></td>
                  <td valign="top"><a href="http://www.craftsvilla.com/rajasthali-mirror-mojari-1.html"><img src="{{skin url="images/MJARAJAST000090_1_10.jpg" _area='frontend'}}" width="75" height="75"  style="border:2px solid #999;" ></a></td>
                  <td valign="top"><a href="http://www.craftsvilla.com/shara-ohh-la-la.html"><img src="{{skin url="images/MMUSARAH0000116_1_1.jpg" _area='frontend'}}" width="75" height="75"  style="border:2px solid #999;" ></a></td>
                  <td valign="top"><a href="http://www.craftsvilla.com/kala-bhawanancient-coloured-vase.html"><img src="{{skin url="images/MJACITITE000066_1.jpg" _area='frontend'}}" width="75" height="75"  style="border:2px solid #999;" ></a></td>
                  <td valign="top"><a href="http://www.craftsvilla.com/surya-art-gallery-s-marble-saluting-elephant.html"><img src="{{skin url="images/MJASURYAA000010_1.jpg" _area='frontend'}}" width="75" height="75"  style="border:2px solid #999;" ></a></td>
                  <td valign="top"><a href="http://www.craftsvilla.com/vividha-green-yellow-toy-basket.html"><img src="{{skin url="images/MMUVIVIDH000009_1.jpg" _area='frontend'}}" width="75" height="75"  style="border:2px solid #999;" ></a></td>
                </tr>
              </table>-->
              <br/>
              
              <!--<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;"> <strong style="color:#1E7EC8;">Start your discovery with Gift Code of Rs.300</strong>:<strong style="color:#00CCFF; font-weight:normal; font-size:18px;">MUSTARD<br>
                </strong><span style="font-size:9px; color:#999">*valid on minimum purchase of Rs 750, till {{var expiry_date}} . Apply gift code on check out.</span></p>-->
              <p style="font-size:12px; line-height:16px; margin:0;">If you have any questions about your account or any other matter, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> .</p></td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" align="left" style="background:#ffffff; text-align:left;"><p style="font-size:12px; margin:0;"> <!--<img src="{{skin url="images/Monica.jpg" _area='frontend'}}" width="75" height="75"  style="border:1px solid #00CCFF;" border="0">-->Thank you for being part of Craftsvilla Family </p></td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" align="left" style="background:#ffffff; text-align:left;"><p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">P.S. Are you looking to sell on Craftsvilla? 
                We make opening your own shop quick and easy. 
                Get started <a href="{{store url='umicrosite/vendor/register/'}}" style="text-decoration:none;"><span style="color:#00ccff;">here! </span> </a> </td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>
</body>
