Dear Seller,<br><br>
<p>Your products have been uploaded on craftsvilla.com. Please check vendor panel for more details. For any question please email us at places@craftsvilla.com.</b></font><br><br>
Here is copy of the upload report:<br>

{{var downloaderrorReport}}<br><br>
<div class="table-border table-bordersmall widtheight">
	
   <table cellspacing="0" cellpadding="0" border="0" style="border: 1px solid #DDDDDD;
    border-collapse: separate;
    border-spacing: 1px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-align: left; margin-bottom:20px; color:#000;">
			<tr> 
       			<th align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;font-weight: bold;width:100px;">Total Number of Products uploaded:</th>
				<th align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;font-weight: bold;width:100px;">Total Number of Products rejected:</th>
 				<th align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;font-weight: bold;width:100px;">Total Number of Products:</th>
               
							</tr>
                 {{var uploadHtml}}
                  
                          
			<!--<tr><td>{{var image}}</td><td>{{var productName}}</td><td>{{var qty}}</td><td>{{var rate}}</td><td>{{var discount}}</td><td>{{var amount}}</td><td>{{var status}}</td></tr>-->


   </table>
<p>
	Thank You<br/>
Craftsvilla Team
	</p>


</div>
<p align="right" style="clear:both;"><img border="0" style="margin-bottom:10px;" alt="" src="{{skin url='images/smalllogo.jpg' _area='frontend'}}"></p>

               </td>
           </tr>
       </table>
   </td>
</tr>
</table>
</div>
