Dear Seller,<br><br>
<p>Your download request is complete. You can download the report from your <a href = "http://www.craftsvilla.com/marketplace/vendor/productdownloadreq/">vendor panel</a>. Here is link of the report.</b></font><br><br>
<div class="table-border table-bordersmall widtheight">
	
                   {{var downloadReport}}
 
<p>
	Thank You<br/>
Craftsvilla Team
	</p>


</div>
<p align="right" style="clear:both;"><img border="0" style="margin-bottom:10px;" alt="" src="{{skin url='images/smalllogo.jpg' _area='frontend'}}"></p>

               </td>
           </tr>
       </table>
   </td>
</tr>
</table>
</div>
