<!--@subject Craftsvilla.com: Vendor {{var vendorName}} Has Send You Response Regarding The Dispute For Shipment No: {{var shipmentId}}! @-->
<style type="text/css">
body, td {
color:#2f2f2f;
font:11px Arial, Helvetica, sans-serif;
}
</style>

<div>
  <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; margin-bottom:10px; background:#FFF;">
    <tr>
      <td align="center" valign="top"><!-- [ header starts here] -->
        
        <table cellspacing="0" cellpadding="0" border="0" width="800">
          <tr>
            <td valign="top" align="center"><a href="{{store url=''}}"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt="Craftsvilla"  style="margin-bottom:10px;" border="0"/></a></td>
          </tr>
        </table>
        
        <!-- [ middle starts here] -->
        
        <table cellspacing="0" cellpadding="0" border="0" width="800">
          <tr>
             <tr><td><img src="{{skin url='images/top_image.jpg' _area='frontend'}}" alt="" /></td></tr>         
          <tr>
            <td valign="top" style="font-size:13px; color:#444; padding:0 40px; line-height:18px; line-height:20px;">
            
            <p style="background:#7599AB;color:#FFFFFF;font-size:16px;margin:20px 0;padding:3px 10px;">Vendor {{var vendorName}} Has Send You Response Regarding The Dispute For Shipment No : {{var shipmentId}}</p>
            <p style="font-size:18px;">Hi <span style="color:#CE3D49;">{{var customerName}},</span></p>
            <p>Below is the response from the vendor regarding a dispute. If this is the satisfactory resolution of your dispute, you can close the dispute from your login panel.<br>
             If you wish to reply, you can do so from your login panel. You can also contact the vendor directly using the vendor contact details. For any further queries, please contact customercare@craftsvilla.com.</p>
              
                         
            <p>{{var vendorNote}}</p>
            <p>{{var disputeHtml}}</p>
            <p>{{var imagecust}}</p>
            <p>-----------------------------------------------------------------------------------------------------------------------</p>
            <p>Below is the dispute history</p>
            <p>{{var html}}</p>
            <U>Below are Shipment details</U>

            <p>{{var vendorItemHTML}}</p>
            (If image is not displayed ,Please enable your display images )
            
<div style="clear:both;"></div>

 <p style="float:left; font-size:12px; width:59%;">&nbsp;</p>
 <p style="float:left; font-size:12px; width:59%;">Happy Shopping!<br />
  <strong>-Craftsvilla Family</strong>
 </p>

              
              <!-- <p>Best regards,<br/>
                <a href="{{store url=''}}">{{var store_name}}</a></p>--></td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>
