<!--@subject Craftsvilla.com: Please Give Feedback for Your Order! @-->
<style type="text/css">
body, td {
color:#2f2f2f;
font:11px Arial, Helvetica, sans-serif;
}
</style>

<div>
  <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; margin-bottom:10px; background:#FFF;">
    <tr>
      <td align="center" valign="top"><!-- [ header starts here] -->
        
        <table cellspacing="0" cellpadding="0" border="0" width="800">
          <tr>
            <td valign="top" align="center"><a href="{{store url=''}}"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt="Craftsvilla"  style="margin-bottom:10px;" border="0"/></a></td>
          </tr>
        </table>
        
        <!-- [ middle starts here] -->
        
        <table cellspacing="0" cellpadding="0" border="0" width="800">
          <tr>
             <tr><td><img src="{{skin url='images/top_image.jpg' _area='frontend'}}" alt="" /></td></tr>         
          <tr>
            <td valign="top" style="font-size:13px; color:#444; padding:0 40px; line-height:18px; line-height:20px;">
            
            <p style="background:#7599AB;color:#FFFFFF;font-size:16px;margin:20px 0;padding:3px 10px;">Don't forget to leave Feedback!</p>
            <p style="font-size:18px;">Hi <span style="color:#CE3D49;">{{var customerName}},</span></p>
            <p>Sellers of Craftsvilla work very hard to handcraft the products you might have received. By leaving feedback for them, you help make them better in their quality, service levels and responses.</p>
            <p>The following order is awaiting your feedback:</p>
              
                         
<div style="background: none repeat scroll 0 0 #F9F9F9;border: 1px dotted #CCCCCC;margin-bottom:0px;overflow: hidden;padding: 9px 16px 9px 21px;float:left;"><p style="float:left;padding:0 15px 0 0;margin:0;text-align:center;"><span style="color: #013B58;font-family: times New Roman;font-size: 15px;">Order #</span><br/> {{var shipmentId}}</p>
   <p style="padding:0 15px 0 0;margin:0;float:left;text-align: center;"><span style="color: #013B58;font-family: times New Roman;font-size: 15px;">Order Date</span><br/> {{var shipmentDate}}</p>
<p style="margin: 0 0 0;padding: 10px 0 0;float:left;"><a href="{{store url='sales/order/history/'}}" style="color: #333333;font-size: 12px;text-decoration: none;" target="_blank"><strong>Leave Feedback Here</strong></a></p>
</div>
   
  
  <div style="clear:both;"></div>
  

             <p style="float:left; font-size:12px; width:59%;">Happy Shopping!<br />
<strong>-Craftsvilla Family</strong>
</p>

              
              <!-- <p>Best regards,<br/>
                <a href="{{store url=''}}">{{var store_name}}</a></p>--></td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>
