Dear {{var vendorname}},<br><br>
     
        
    Your product for shipment no. {{var shipmentid}} has been QC rejected by Craftsvilla QC(Quality Check) Team for following reason. Please send another replacement for this product ASAP or mark it product out of stock if you do not have any replacement available.<br><br>
    <table cellspacing="0" cellpadding="0" border="0" style="border: 1px solid #DDDDDD;
    border-collapse: separate;
    border-spacing: 1px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    text-align: left; margin-bottom:20px; color:#000;">
			<tr> 
       			<th align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: red;font-weight: bold;width:auto;height:35px;"><b>{{var comment}}</b></th></tr></table><br />

<div class="table-border table-bordersmall widtheight">
Below is the image of product we received which was either defective, broken or different.<br />
 <table cellspacing="0" cellpadding="0" border="0" style="border: 1px solid #DDDDDD; border-collapse: separate; border-spacing: 1px;     font-family: Arial,Helvetica,sans-serif; font-size: 11px; text-align: left; margin-bottom:20px; color:#000;">
		{{var qcrejectimage}}
     </table>
    <p>-----------------------------------------------------------------------------------------------------------------------</p>
            <U>Below are Shipment details</U>
            
              <p>{{var shipmentitem}}</p>
            (If image is not displayed ,Please enable your display images )<br><br>
            
<div style="clear:both;"></div>

    
    For any unresolved queries or dispute, you can always reach our customer care at customercare@craftsvilla.com.
    
   <p style="float:left; font-size:12px; width:59%;">&nbsp;</p>
 <p style="float:left; font-size:12px; width:59%;">Happy Shopping!<br />
  <strong>-Craftsvilla Family</strong>
 </p>
    