<!--@subject Congratulation: You Have Recieved A Paid Agent Order : {{var orderId}}! @-->
<div style="width:725px;color:#444444;font-size:13px;line-height:18px;font-family:Arial, Helvetica, sans-serif;margin:0 auto;"> 
  <!--Header HTML-->
  <div style="height:130px;">
  <p style="float:right;"><a href="http://www.craftsvilla.com/" style="color:#0192b5;font-size:14px;font-style:italic;font-weight:bold;text-decoration:none;">Start Shopping <img src="{{skin url='images/arrow_icon.jpg' _area='frontend'}}" alt="" border="0" style="vertical-align:middle; margin-left:5px;"/></a></p>
  <div style="clear:both;"><a href="http://www.craftsvilla.com/"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt="CraftsVilla" border="0" style="float:left;"/></a>
    <div style="float: left; margin:26px 0 0 22px;"><img src="{{skin url='images/img_bg.jpg' _area='frontend'}}" alt="" border="0"/>
      
    </div>
  </div>
  <img src="{{skin url='images/top_image_new.jpg' _area='frontend'}}" alt="" border="0" style="padding-top:12px;"/> 
  </div>
  <!--Header HTML End--> 
  
  <!--Content Start -->
  
<div style="padding:20px; clear:both;min-height:250px;">
 <h3 style="color:#CE3D49;">Dear {{var agentName}},</h3>
  <p>You have received a paid order from your referral network.</p>  
  
  <p>Customer Details: </p>
  <p>Customer Name: {{var firstname}}</p>
  <p>Order Id: {{var orderId}}</p>
  <p>Order Value: {{var ordervalue}}</p>
  <p>Email: {{var email}}</p>
  <p>Coupon Code: {{var couponcode}}</p>
<!--  <p>Phone No.: {{var telephone}}</p>-->
  
<p>You can also view order details in your agent panel . For any further queries, please email places@craftsvilla.com</p>
  <!--<table cellpadding="4" cellspacing="1" border="0" style="font-size:12px;font-family:Arial, Helvetica, sans-serif;border:1px solid #ddd;text-align:left;" width="100%">
     <tr>
       <th style="background:#f2e7e1;">Order ID</th><th style="background:#f2e7e1;">Order Value</th><th style="background:#f2e7e1;">Customer Name</th><th style="background:#f2e7e1;">Customer Phone</th><th style="background:#f2e7e1;">Shipping Country</th>
     </tr>
     {{var orderDetail}}
     
  </table> -->         
</div>
  
  <!--Content End --> 
</div>



