Dear Seller,<br><br>
<p><b>Your Tracking Number For Shipment No: {{var shipmentid}} is Not Updated! Please email to customercare@craftsvilla.com for further queries.</b>
<br><br>
<div class="table-border table-bordersmall widtheight">
	
                   {{var shipmentnotupdateHtml}}
 
<p>
	Thank You<br/>
Craftsvilla Team
	</p>


</div>
<p align="right" style="clear:both;"><img border="0" style="margin-bottom:10px;" alt="" src="{{skin url='images/smalllogo.jpg' _area='frontend'}}"></p>

               </td>
           </tr>
       </table>
   </td>
</tr>
</table>
</div>
