Dear Seller,<br><br>
<p>Following products are out of stock by the other seller. We have identified you as potential supplier of this product. If you think you can deliver these products within 3 days to the customer, you can claim this following shipment and then shipment will become yours. Please note you should only claim if you can ship these products promptly.</p>
<br><br><font size="2"><b>Please do not claim unless you are completely sure of couriering these products.</b></font> <br><br>
<div class="table-border table-bordersmall widtheight">
	
   <table cellspacing="0" cellpadding="0" border="0" style="border: 1px solid #DDDDDD;
    border-collapse: separate;
    border-spacing: 1px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-align: left; margin-bottom:20px; color:#000;">
			<tr> 
       			<th align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;font-weight: bold;width:100px;">Image</th>
				<th align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;font-weight: bold;width:100px;">Product Name</th>
 				<th align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;font-weight: bold;width:100px;">Qty</th>
                <th align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;font-weight: bold;width:100px;">Rate</th>
                <th align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;font-weight: bold;width:100px;">Discount</th>
                <th align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;font-weight: bold;width:100px;">Amount</th>
                <th align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;font-weight: bold;width:100px;"><!--<a href="http://local.craftsvilla.com/doejofinal/index.php/marketplace/vendor/claimproduct/"><input type="submit" class = "form-button" name = "submit" value="Claim IT" style="float:right"/></a>--></th>
							</tr>
                 {{var shipmentItemHtml}}
                  
                          
			<!--<tr><td>{{var image}}</td><td>{{var productName}}</td><td>{{var qty}}</td><td>{{var rate}}</td><td>{{var discount}}</td><td>{{var amount}}</td><td>{{var status}}</td></tr>-->


   </table>

	 <p>You will get paid for this shipment once you have shipped it to customer. If you have a similar product and not exactly the same product, just email the shipment number along with images of alternate products to customercare@craftsvilla.com and we shall check with the customer for approval of the alternates.</p> 
	
	<p>
	Thank You<br/>
Craftsvilla Team
	</p>


</div>
<p align="right" style="clear:both;"><img border="0" style="margin-bottom:10px;" alt="" src="{{skin url='images/smalllogo.jpg' _area='frontend'}}"></p>

               </td>
           </tr>
       </table>
   </td>
</tr>
</table>
</div>
