Dear {{var customername}},<br><br>
    
    We are extremely sorry to say that unfortunately your shipment {{var shipmentno}} has not been courier yet by the seller. The seller of this shipment is {{var sellername}}. Following are details of the seller whom you can directly contact for quicker update regarding the shipment.<br><br>
<div class="table-border table-bordersmall widtheight">
 <table cellspacing="0" cellpadding="0" border="0" style="border: 1px solid #DDDDDD; border-collapse: separate; border-spacing: 1px;     font-family: Arial,Helvetica,sans-serif; font-size: 11px; text-align: left; margin-bottom:20px; color:#000;">
			<tr> 
       			<th align="center" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;font-weight: bold;width:100px;">Seller Name</th>
				<th align="center" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;font-weight: bold;width:100px;">Seller Email</th>
 				<th align="center" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;font-weight: bold;width:100px;">Seller Telephone</th>
            </tr>
                {{var shipmentHtml}}
     </table>
    <p>-----------------------------------------------------------------------------------------------------------------------</p>
            <U>Below are Shipment details</U>
            
              <p>{{var vendorItemHTML}}</p>
            (If image is not displayed ,Please enable your display images )<br><br>
            
<div style="clear:both;"></div>

    
    For any unresolved queries or dispute, you can always reach our customer care at customercare@craftsvilla.com.
    
   <p style="float:left; font-size:12px; width:59%;">&nbsp;</p>
 <p style="float:left; font-size:12px; width:59%;">Happy Shopping!<br />
  <strong>-Craftsvilla Family</strong>
 </p>
    