<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; margin-bottom:10px; background:#FFF;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="800">
           <tr>
            <td valign="top" align="center"><a href="{{store url=''}}"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt="Craftsvilla"  style="margin-bottom:10px;" border="0"/></a></td>
          </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="800">
         <tr><td><img src="{{skin url='images/top_image.jpg' _area='frontend'}}" alt="" /></td></tr>
            <tr>
                <td valign="top" style="font-size:14px; color:#444; padding:0 40px; line-height:18px; line-height:20px;">
                
                  
                                   
                    <p style="font-size:18px;">Dear <span style="color:#CE3D49;">{{var vendorName}}</span></p>

                
                    
                    <p>This order has been communicated to us as shipped to craftsvilla 5 days back but we have not received the shipment yet. Please share valid tracking id to us immediatly at places@craftsvilla.com.
			<p>{{var vendorItemHTML}}</p>


   <p style="background:#7599AB; padding:2px; color:#FFF;margin:20px 0;">If you have any issues please email to places@craftsvilla.com</p>

           </tr>
   </table>
   
	
	
	 Thank you, Craftsvilla.com
   </td>
</tr>
</table>