<!--@subject Craftsvilla.com: Redeem Your Signup Coupon Before It Expires! @-->

<div>
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; margin-bottom:10px; background:#FFF;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="800">
           <tr>
            <td valign="top" align="center"><a href="{{store url=''}}"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt="Craftsvilla"  style="margin-bottom:10px;" border="0"/></a></td>
          </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="800">
         <tr><td><img src="{{skin url='images/top_image.jpg' _area='frontend'}}" alt="" /></td></tr>
            <tr>
                <td valign="top" style="font-size:14px; color:#444; padding:0 40px; line-height:18px; line-height:20px;">
                
                  
                                   
                    <p style="font-size:18px;">Hi, {{var customername}}</p>

                    <p>You recently registered at CraftsVilla.com, India's largest site for unique handmade products.</p>
					<p>Your unique voucher code for Rs. 300 off on Rs. 750, a 40% off value, is about to expire in 2 days! Use your code <strong>MUSTARD</strong> before time runs outs. </p>
                    
                    
                    
<div class="table-border table-bordersmall widtheight">
	
  
	

<p>If you need any help during your purchase do contact our customer care team at: <br/>
<!--<strong>Phone:</strong> +91-92232-11777 <br/>-->
<strong>Email:</strong> <a href="mailto:customercare@craftsvilla.com">customercare@craftsvilla.com</a>  <br/>
<!--<strong>Live Chat:<strong> at <a href="http://www.craftsvilla.com/">www.craftsvilla.com</a>--></p>



	<p>
	Thank You<br/>
Craftsvilla Team
	</p>


</div>
<p align="right" style="clear:both;"><img border="0" style="margin-bottom:10px;" alt="" src="{{skin url='images/smalllogo.jpg' _area='frontend'}}"></p>

               </td>
           </tr>
       </table>
   </td>
</tr>
</table>
</div>
