<!--@subject Congratulations! Your Shop on Craftsvilla.com is Live! @-->
<style type="text/css">
body, td {
	color:#2f2f2f;
	font:11px Arial, Helvetica, sans-serif;
}
</style>

<div>
  <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; margin-bottom:10px; background:#FFF;">
    <tr>
      <td align="center" valign="top"><!-- [ header starts here] -->
        
        <table cellspacing="0" cellpadding="0" border="0" width="800">
          <tr>
            <td valign="top" align="center"><a href="{{store url=''}}"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt="Craftsvilla"  style="margin-bottom:10px;" border="0"/></a></td>
          </tr>
        </table>
        
        <!-- [ middle starts here] -->
        
        <table cellspacing="0" cellpadding="0" border="0" width="800">
          <tr>
            <tr><td><img src="{{skin url='images/top_image.jpg' _area='frontend'}}" alt="" /></td></tr>
         
          <tr>
            <td valign="top" style="font-size:13px; color:#444; padding:0 40px; line-height:18px; line-height:20px;"><p style="font-size:18px;">Dear <span style="color:#CE3D49;">{{var vendor.vendor_name}},</span></p>
              <p><span style="color: #013B58;font-family: times New Roman;font-size: 18px;">Welcome to Craftsvilla.com!</span> Thanks for accepting <a href="http://www.craftsvilla.com/terms-and-conditions-craftsvilla/" style="color:#666;">  Seller Terms and Conditions </a> for selling on Craftvilla.com as a Seller. You can now sell all your unique and wonderful products on <a href="www.craftsvilla.com" style=" color:#CE3D49; text-decoration:none;">www.craftsvilla.com.</a></p>
              
              <p style="background:#7599AB; padding:5px; color:#fff;margin:20px 0;"> Your Login details are below: <br /> </p>
                <p style="background:#ffff; padding:5px; color:#666;margin:20px 0;">
              Login: {{var vendor.email}} <br />
              Password: {{var password}} </p>
              
                
              <p style="background:#7599AB; padding:5px; color:#FFF;margin:20px 0;">Please login to start uploading the new products. All you need to do is follow a few simple steps. </p>
              <h2 style="margin:0; padding-bottom:3px; font-size:14px;color:#000; clear:both; padding-top:10px;">How to add your products:</h2>
                <div style="border:1px dashed #ccc; padding:10px; background:#F7F7F3; margin:0;">
                  <ul style="list-style:square;margin: 0;padding:0 0 0 15px; color:#00CCFF;">
                    <li style="padding-bottom:10px;"><span style="color:#666;">You need to login to your account with the <a href="http://www.craftsvilla.com/marketplace/vendor" style="color:#666;">Seller Login link </a></span></li>
                    <li style="padding-bottom:10px;"><span style="color:#666;">Please enter your username and password.</span></li>
                    <li style="padding-bottom:10px;"><span style="color:#666;">Go to the Add Product tab and proceed towards adding your products</span></li>
                    <li style="padding-bottom:10px;"><span style="color:#666;">Please go through the link to learn <a href="https://www.youtube.com/watch?feature=player_embedded&v=0KhFFFy1-ns" style="color:#666;">how to add your products</a></span></li>
                    <li style="padding-bottom:10px;"><span style="color:#666;">You can also add your products through bulk upload feature in the vendor panel. You can upload maximum 100 products per sheet.</span></li>
                    <li style="padding-bottom:10px;"><span style="color:#666;">You can also claim out of stock orders from other sellers using Claim Board feature in the vendor panel.</span></li>
                    <li style="padding-bottom:10px;"><span style="color:#666;">Cash On Delivery is enabled by default. Please accept COD orders once you have confirmed with the customer. You can enable/disable COD anytime by going to <a target="_blank" href="http://www.craftsvilla.com/marketplace/vendor/codorders/">COD orders tab</a> in your vendor panel.</span></li>
                    <li style="padding-bottom:10px;"><span style="color:#666;">Please note there is refund penalty of 2% of the order value for out of stock products.</span></li>
                    <li style="padding-bottom:10px;"><span style="color:#666;">In case of any problems please write us at <a href="mailto:places@craftsvilla.com" style="color:#666;">places@craftsvilla.com</a> and we will help you with the process</span></li>
                  </ul>
                </div>
              </div>
              
              <p style="background:#ffffff; padding:5px; color:#666; margin:20px 0;">
              Most products usually get listed without any problems. But some products may be rejected on account of absence of key information, bad pictures or the product not being a fit with Craftsvilla categories. </p>
              <p style="background:#ffffff; padding:5px; color:#666;margin:20px 0;">
              In case there are rejections, the Craftsvilla team will get back to you with changes.  You may contact them at <a target="_blank" href="mailto:customercare@craftsvilla.com" style="color:#666;">customercare@craftsvilla.com </a> for any product upload related issues you face.
              </p>
              
              <div style="color:#666;">
                <div style="float:left; width:48%;">
                  <h2 style="margin:0; padding-bottom:3px; font-size:14px; color:#000;">Here's how a Craftsvilla Marketplace process works</h2>
                  <div style="border:1px dashed #ccc; padding:10px; background:#F7F7F3; margin:0; min-height:359px;">
                    <ul style="list-style:none;margin: 0;padding: 0;">
                      <li style="padding-bottom:10px;"><span style="color:#00CCFF">Step 1</span><br />
                        Buyer pays you through various pre-paid  methods like credit card, debit card and internet banking.After processing  payment, Craftsvilla fasks you to ship the item.</li>
                      <li style="padding-bottom:10px;"><span style="color:#00CCFF">Step 2</span><br />
                        You ship the item and enter shipping  details in your Craftsvilla Vendor Account</li>
                      <li style="padding-bottom:10px;"><span style="color:#00CCFF">Step 3</span><br />
                        Buyer confirms receipt of the item to Craftsvilla  or is entitled to claim refund if item is not delivered or an item is not as  decribed.</li>
                      <li style="padding-bottom:10px;"><span style="color:#00CCFF">Step 4</span><br />
                        Payment for the order, after deducting 20% commission + service tax, is credited to your bank account through NEFT within 21 working days after shipping the order.</li>
                    </ul>
                  </div>
                </div>
                <div style="float:right; width:48%; padding-top:20px;">
                  <h2 style="margin:0; padding-bottom:3px; font-size:14px;color:#000;">Key Delivery Timelines:</h2>
                  <div style="border:1px dashed #ccc; padding:10px; background:#F7F7F3; margin:0; min-height:359px;">
                    <ul style="list-style:square;margin: 0;padding:0 0 0 15px; color:#00CCFF;">
                      <li style="padding-bottom:10px;"><span style="color:#666;">If the item is not delivered to the buyer within the timelines, the buyer can initiate a refund request. If you have delivered the item within the timelines, you can appeal against the refund.</span></li>
                      <li style="padding-bottom:10px;"><span style="color:#666;">Ship the item after payment confirmation within: 7 days (national deliveries) / 10 days (international       deliveries)</span></li>
                      <li style="padding-bottom:10px;"><span style="color:#666;">Deliver the item after shipping within: 10 days from shipping (national deliveries)</span></li>
                      <li style="padding-bottom:10px;"><span style="color:#666;">Timelines may vary slight for certain categories.</span></li>
                      <li><span style="color:#666;">You can also request the buyer for a time extension before entering shipping details, if you feel you may not be able to deliver within the original timelines.</span></li>
                    </ul>
                  </div>
                </div>
                <h2 style="margin:0; padding-bottom:3px; font-size:14px;color:#000; clear:both; padding-top:10px;">Tips:</h2>
                <div style="border:1px dashed #ccc; padding:10px; background:#F7F7F3; margin:0;">
                  <ul style="list-style:square;margin: 0;padding:0 0 0 15px; color:#00CCFF;">
                    <li style="padding-bottom:10px;"><span style="color:#666;">Use a courier service which provides a proper proof of delivery.</span></li>
                    <li style="padding-bottom:10px;"><span style="color:#666;">Retain the proof of delivery for a minimum period of 6 months to help you appeal against a refund request or chargeback by the buyer.</span></li>
                    
                    <li style="padding-bottom:10px;"><span style="color:#666;">To read about our Various Processes , please visit <a href="http://www.craftsvilla.com/seller-handbook/" style="color:#666;">http://www.craftsvilla.com/seller-handbook/</a></span></li>
                  </ul>
                </div>
              </div>
              <p style="float:left; font-size:12px; width:59%;">We look forward to a wonderful association with you!<br />
                Happy Selling!</p>
                <p style="float:left; font-size:12px; width:59%;"> Craftsvilla Places Team </p>
              <p align="right" style="float:right;"><img border="0" style="margin-bottom:10px;" alt="Craftsvilla" src="{{skin url='images/smalllogo.jpg' _area='frontend'}}"></p>
              
              <!-- <p>Best regards,<br/>
                <a href="{{store url=''}}">{{var store_name}}</a></p>--></td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>
