Dear Customer,<br><br>
<p>We are sorry to inform you that due to unavoidable reasons, your shipment {{var shipmentid}} has been refunded by the seller. Below is voucher code of value Rs. {{var couponvalue}} which you can use on Craftsvilla.com to buy any of our 300,000 products within next 90 days. </p><p>We have added 5% extra in the following coupon as our "Sorry Gift". If you are fine with this coupon, please accept this coupon by clicking the Accept button below. Till you accept this coupon, this coupon will not be active and can not be used on Craftsvilla.com.
<br><br>
<div class="table-border table-bordersmall widtheight">
 <table cellspacing="1px" cellpadding="3px" border="0" style="border: 1px solid #DDDDDD;
    border-collapse: separate;
    border-spacing: 1px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin-bottom:20px; color:#000;">
			<tr> 
       			<th align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;width:auto;">Coupon Code</th>
				<th align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;width:auto;">Coupon Value</th>
 				<th align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;width:auto;">Expiry Date</th>
             </tr>
             <tr>
             <td align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;width:auto;">{{var voucher}}</td>
             <td align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;width:auto;">Rs. {{var couponvalue}}</td>
             <td align="left" style="background: none repeat scroll 0 0 #F2E7E1;color: #000;width:auto;">{{var expirydate}}</td>
</tr>
</table>
<p> {{var voucherHtml}}</p>
 <p>-----------------------------------------------------------------------------------------------------------------------</p>
            <U>Below are Coupon details</U>
            <p>{{var shipmentvalue}}</p>
  <p>-----------------------------------------------------------------------------------------------------------------------</p>
            <U>Below are Shipment details</U>

            <p>{{var ShipmentItemHtml}}</p>
            (If image is not displayed ,Please enable your display images )
	
    
    
   For any further queries you can always reach us at customercare@craftsvilla.com.              
 
<p>
	Thank You<br/>
Craftsvilla Team
	</p>


</div>
<p align="right" style="clear:both;"><img border="0" style="margin-bottom:10px;" alt="" src="{{skin url='images/smalllogo.jpg' _area='frontend'}}"></p>

               </td>
           </tr>
       </table>
   </td>
</tr>
</table>
</div>
