<!--@subject Craftsvilla.com: Response For Your Wholesale Enquiry ! @-->
<div style="width:725px;color:#444444;font-size:13px;line-height:18px;font-family:Arial, Helvetica, sans-serif;margin:0 auto;"> 
  <!--Header HTML-->
  <div style="height:130px;">
  <p style="float:right;"><a href="http://www.craftsvilla.com/" style="color:#0192b5;font-size:14px;font-style:italic;font-weight:bold;text-decoration:none;">Start Shopping <img src="{{skin url='images/arrow_icon.jpg' _area='frontend'}}" alt="" border="0" style="vertical-align:middle; margin-left:5px;"/></a></p>
  <div style="clear:both;"><a href="http://www.craftsvilla.com/"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt="CraftsVilla" border="0" style="float:left;"/></a>
    <div style="float: left; margin:26px 0 0 22px;"><img src="{{skin url='images/img_bg.jpg' _area='frontend'}}" alt="" border="0"/>
      
    </div>
  </div>
  <img src="{{skin url='images/top_image_new.jpg' _area='frontend'}}" alt="" border="0" style="padding-top:12px;"/> 
  </div>
  <!--Header HTML End--> 
  
  <!--Content Start -->
  
<div style="padding:20px; clear:both;min-height:250px;">
<table border="0" cellpadding="5">
      <!--<tr>
        <td>Image</strong> :</td>
        <td><a href="{{var prod_url}}" style="border:0;outline:0;">{{var image}}</a></td>
      </tr>-->
      
      <tr>
        <td>Product Name</strong> :</td>
        <td>{{var productname}}</td>
      </tr>
     <tr>
        <td><strong>Requested Quantity</strong> :</td>
        <td>{{var quantity}}</td>
      </tr>
      <tr>
        <td><strong>Price Rs</strong> :</td>
        <td>{{var offer_price}}</td>
      </tr>
      
      <tr>
        <td><strong>Delivery Date</strong> :</td>
        <td>{{var deliverydate}}</td>
      </tr>
      <tr>
        <td><strong>Vendor Quote</strong> :</td>
        <td>{{var vendorquote}}</td>
      </tr>
</table>
          
</div>
  
  <!--Content End --> 
  
  <!--Footer HTML--> 
  <div style="height:215px;">
  <img src="{{skin url='images/top_image_new.jpg' _area='frontend'}}" alt="" border="0" style="padding-top:12px;"/>
  <div style="background:#ebebeb;color:#343232;font-style:italic;overflow:hidden;padding:9px 6px 15px;">
    <div style="padding:0 10px 5px;overflow:hidden;">
      <p style="font-size:12px;font-style:normal;float:left;margin:4px 0 0 0;"><a href="http://www.craftsvilla.com/about-us-craftsvilla/" style="text-decoration:none;color:#000000;">About</a> | <a href="http://www.craftsvilla.com/contact-us-craftsvilla/" style="text-decoration:none;color:#000000;">Contact Us</a> | <a href="http://www.craftsvilla.com/shipping-artisans-designers/" style="text-decoration:none;color:#000000;">Shipping &amp; Return Policy</a> | <a href="http://www.craftsvilla.com/terms-and-conditions-craftsvilla/" style="text-decoration:none;color:#000000;">Terms Privacy</a></p>
     <p style="float:right;margin:0;"><a href="https://www.facebook.com/craftsvilla"><img src="{{skin url='images/ficon.jpg' _area='frontend'}}" alt="Facebook" border="0" style="margin-right:5px;" /></a><a href="https://twitter.com/#!/craftsvilla"><img src="{{skin url='images/ticon.jpg' _area='frontend'}}" alt="twitter" border="0" /></a></p>
    </div>
    <div style="clear:both;"></div>
    <p style="border-width:1px 0; border-style:solid; border-color:#dddcdc; padding:1px;margin:0;"></p>
    <div style="padding:0 10px;">
      <p>You received this email because you are registered on Craftsvilla.com. We respect your privacy. Please view our privacy policy. If you believe this has been sent to you in error, please contact at <a href="mailto:customercare@craftsvilla.com" style="color:#444;">customercare@craftsvilla.com</a>.</p>
      <p style="color:#656565;margin:0;">Craftsvilla.com<br>
        Row House No. 2, Nirav Housing Complex, Thakur Complex<br>
        Kandivli (E), Mumbai, India 400101</p>
    </div>
  </div>
  <img src="{{skin url='images/top_image_new.jpg' _area='frontend'}}" alt="" border="0"/> 
  </div>
  <!--Footer HTML END--> 
</div>



