<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Noticeboard>
            <version>0.1.0</version>
        </Craftsvilla_Noticeboard>
    </modules>
    <frontend>
      <routers>
            <noticeboard>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Noticeboard</module>
                    <frontName>noticeboard</frontName>
                </args>
            </noticeboard>
        </routers>
        <layout>
            <updates>
                <noticeboard>
                    <file>noticeboard.xml</file>
                </noticeboard>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<noticeboard>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Noticeboard</module>
					<frontName>noticeboard</frontName>
				</args>
			</noticeboard>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		<catalog>
		<children>
			<noticeboard module="noticeboard">
				<title>Noticeboard</title>
				<sort_order>71</sort_order>               
				<!--<children>
					<items module="bulkuploadcsv">
						<title>Manage Items</title>
						<sort_order>0</sort_order>-->
						<action>noticeboard/adminhtml_noticeboard</action>
						
					</noticeboard>
			</children>
			</catalog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
					    <catalog>
		                  <children>
						<!--<Craftsvilla_Bulkuploadcsv>
							<title>Bulkuploadcsv Module</title>
							<sort_order>10</sort_order>
						</Craftsvilla_Bulkuploadcsv>
-->					<noticeboard module="noticeboard">
									<title>Noticeboard</title>
									<sort_order>19</sort_order>
								</noticeboard>
							</children>	
						</catalog>
					</children>	
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<noticeboard>
					<file>noticeboard.xml</file>
				</noticeboard>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <noticeboard>
                <class>Craftsvilla_Noticeboard_Model</class>
                <resourceModel>noticeboard_mysql4</resourceModel>
            </noticeboard>
            <noticeboard_mysql4>
                <class>Craftsvilla_Noticeboard_Model_Mysql4</class>
             <entities>
                    <noticeboard>
                        <table>noticeboard</table>
                    </noticeboard>
                </entities>
            </noticeboard_mysql4>
        </models>
        <resources>
            <noticeboard_setup>
                <setup>
                    <module>Craftsvilla_Noticeboard</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </noticeboard_setup>
            <noticeboard_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </noticeboard_write>
            <noticeboard_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </noticeboard_read>
        </resources>
        <blocks>
            <noticeboard>
                <class>Craftsvilla_Noticeboard_Block</class>
            </noticeboard>
        </blocks>
        <helpers>
            <noticeboard>
                <class>Craftsvilla_Noticeboard_Helper</class>
            </noticeboard>
        </helpers>
		<template>
     <email>
	
		     </email>
 </template>
    </global>
</config>