<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Vendorneftcode>
            <version>0.1.0</version>
        </Craftsvilla_Vendorneftcode>
    </modules>
    <frontend>
      <routers>
            <vendorneftcode>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Vendorneftcode</module>
                    <frontName>vendorneftcode</frontName>
                </args>
            </vendorneftcode>
        </routers>
        <layout>
            <updates>
                <vendorneftcode>
                    <file>vendorneftcode.xml</file>
                </vendorneftcode>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<vendorneftcode>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Vendorneftcode</module>
					<frontName>vendorneftcode</frontName>
				</args>
			</vendorneftcode>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		<sales>
			<children>
				<vendorneftcode module="vendorneftcode">
					<title>VendorNEFTcode</title>
					<sort_order>71</sort_order>               
					<action>vendorneftcode/adminhtml_vendorneftcode</action>
				</vendorneftcode>
			</children>
		</sales>
		</menu>
		<acl>
			<resources>
					<admin>
                     	<children>
							<sales>
                             	<children>
										<vendorneftcode translate="title">
											<title>Vendorneftcode Module</title>
											<sort_order>10</sort_order>
										</vendorneftcode>
								</children>
							</sales>
						</children>
					</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<vendorneftcode>
					<file>vendorneftcode.xml</file>
				</vendorneftcode>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <vendorneftcode>
                <class>Craftsvilla_Vendorneftcode_Model</class>
                <resourceModel>vendorneftcode_mysql4</resourceModel>
            </vendorneftcode>
            <vendorneftcode_mysql4>
                <class>Craftsvilla_Vendorneftcode_Model_Mysql4</class>
             <entities>
                    <vendorneftcode>
                        <table>vendor_info_craftsvilla</table>
                    </vendorneftcode>
                </entities>
            </vendorneftcode_mysql4>
        </models>
        <resources>
            <vendorneftcode_setup>
                <setup>
                    <module>Craftsvilla_Vendorneftcode</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vendorneftcode_setup>
            <vendorneftcode_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vendorneftcode_write>
            <vendorneftcode_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vendorneftcode_read>
        </resources>
        <blocks>
            <vendorneftcode>
                <class>Craftsvilla_Vendorneftcode_Block</class>
            </vendorneftcode>
        </blocks>
        <helpers>
            <vendorneftcode>
                <class>Craftsvilla_Vendorneftcode_Helper</class>
            </vendorneftcode>
        </helpers>
    </global>
</config>
