<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Qualitycheckshipment>
            <version>0.1.0</version>
        </Craftsvilla_Qualitycheckshipment>
    </modules>
    <frontend>
      <routers>
            <qualitycheckshipment>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Qualitycheckshipment</module>
                    <frontName>qualitycheckshipment</frontName>
                </args>
            </qualitycheckshipment>
        </routers>
        <layout>
            <updates>
                <qualitycheckshipment>
                    <file>qualitycheckshipment.xml</file>
                </qualitycheckshipment>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<qualitycheckshipment>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Qualitycheckshipment</module>
					<frontName>qualitycheckshipment</frontName>
				</args>
			</qualitycheckshipment>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<sales>
				<children>
					<qualitycheckshipment module="qualitycheckshipment">
						<title>Qualitycheckshipment</title>
						<sort_order>71</sort_order>               
						<action>qualitycheckshipment/adminhtml_qualitycheckshipment</action>
					</qualitycheckshipment>
				</children>
			</sales>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
					<sales>
					<children>
					<qualitycheckshipment translate="title" module="qualitycheckshipment">
					<title>Qualitycheckshipment Module</title>
					<sort_order>10</sort_order>
					</qualitycheckshipment>
					</children>
					</sales>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<qualitycheckshipment>
					<file>qualitycheckshipment.xml</file>
				</qualitycheckshipment>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <!--<qualitycheckshipment>
                <class>Craftsvilla_Qualitycheckshipment_Model</class>
                <resourceModel>qualitycheckshipment_mysql4</resourceModel>
            </qualitycheckshipment>
            <qualitycheckshipment_mysql4>
                <class>Craftsvilla_Qualitycheckshipment_Model_Mysql4</class>
             <entities>
                    <qualitycheckshipment>
                        <table>qualitycheckshipment</table>
                    </qualitycheckshipment>
                </entities>
            </qualitycheckshipment_mysql4>-->
        </models>
        <resources>
            <qualitycheckshipment_setup>
                <setup>
                    <module>Craftsvilla_Qualitycheckshipment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </qualitycheckshipment_setup>
            <qualitycheckshipment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </qualitycheckshipment_write>
            <qualitycheckshipment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </qualitycheckshipment_read>
        </resources>
        <blocks>
            <qualitycheckshipment>
                <class>Craftsvilla_Qualitycheckshipment_Block</class>
            </qualitycheckshipment>
        </blocks>
        <helpers>
            <qualitycheckshipment>
                <class>Craftsvilla_Qualitycheckshipment_Helper</class>
            </qualitycheckshipment>
        </helpers>
    </global>
</config>
