<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Disputecusremarks>
            <version>0.1.0</version>
        </Craftsvilla_Disputecusremarks>
    </modules>
    <frontend>
      <routers>
            <disputecusremarks>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Disputecusremarks</module>
                    <frontName>disputecusremarks</frontName>
                </args>
            </disputecusremarks>
        </routers>
        <layout>
            <updates>
                <disputecusremarks>
                    <file>disputecusremarks.xml</file>
                </disputecusremarks>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<disputecusremarks>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Disputecusremarks</module>
					<frontName>disputecusremarks</frontName>
				</args>
			</disputecusremarks>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			
			<catalog>
				<children>
					<disputecusremarks module="disputecusremarks">
						<title>Disputecusremarks</title>
						<sort_order>71</sort_order>               
						<action>disputecusremarks/adminhtml_disputecusremarks</action>
					</disputecusremarks>
				</children>
			</catalog>
			
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						
						<catalog>
							<children>
								<disputecusremarks translate="title" module="disputecusremarks">
									<title>Disputecusremarks Module</title>
									<sort_order>10</sort_order>
								</disputecusremarks>
							</children>
						</catalog>
						
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<disputecusremarks>
					<file>disputecusremarks.xml</file>
				</disputecusremarks>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <disputecusremarks>
                <class>Craftsvilla_Disputecusremarks_Model</class>
                <resourceModel>disputecusremarks_mysql4</resourceModel>
            </disputecusremarks>
            <disputecusremarks_mysql4>
                <class>Craftsvilla_Disputecusremarks_Model_Mysql4</class>
             <entities>
                    <disputecusremarks>
                        <table>disputecusremarks</table>
                    </disputecusremarks>
                </entities>
            </disputecusremarks_mysql4>
        </models>
        <resources>
            <disputecusremarks_setup>
                <setup>
                    <module>Craftsvilla_Disputecusremarks</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </disputecusremarks_setup>
            <disputecusremarks_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </disputecusremarks_write>
            <disputecusremarks_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </disputecusremarks_read>
        </resources>
        <blocks>
            <disputecusremarks>
                <class>Craftsvilla_Disputecusremarks_Block</class>
            </disputecusremarks>
        </blocks>
        <helpers>
            <disputecusremarks>
                <class>Craftsvilla_Disputecusremarks_Helper</class>
            </disputecusremarks>
        </helpers>
    </global>
</config>
