<!--@subject {{var store.getFrontendName()}}: New Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$order.getBillingAddress().getName()":"Guest Customer Name",
"var store.getFrontendName()":"Store Name",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->


  <div style="width:725px;color:#444444;font-size:13px;line-height:18px;font-family:Arial, Helvetica, sans-serif;margin:0 auto;"> 
  <!--Header HTML-->
  <div style="height:130px;">
  <p style="float:right;"><a href="http://www.craftsvilla.com/" style="color:#0192b5;font-size:14px;font-style:italic;font-weight:bold;text-decoration:none;">Start Shopping <img src="{{skin url='images/arrow_icon.jpg' _area='frontend'}}" alt="" border="0" style="vertical-align:middle; margin-left:5px;"/></a></p>
  <div style="clear:both;"><a href="http://www.craftsvilla.com/"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt="CraftsVilla" border="0" style="float:left;"/></a>
    <div style="float: left; margin:26px 0 0 22px;"><img src="{{skin url='images/img_bg_new_email.jpg' _area='frontend'}}" alt="" border="0"/>
      
    </div>
  </div>
  <img src="{{skin url='images/top_image_new.jpg' _area='frontend'}}" alt="" border="0" style="padding-top:12px;"/> 
  </div>
  <!--Header HTML End--> 
  
  <!--Content Start -->





<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 0px 0">
        <!-- [ header starts here] -->
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="100%">
           
        <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Hello, <span style="color:#CE3D49;">{{htmlescape var=$order.getBillingAddress().getName()}}</span></h1>
                    <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">
                        Thank you for your order from {{var store.getFrontendName()}}.
                        Once your package ships we will send an email with a link to track your order.
                        If you have any questions about your order please contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> <!--or call us at <span class="nobr">{{config path='general/store_information/phone'}}</span> Monday - Friday, 8am - 5pm IST-->.
                    </p>
                    <p style="font-size:12px; line-height:16px; margin:0;">Your order confirmation is below. Thank you again for your business.</p>
                    
                    
                    <p style="font-weight:bold;font-size:12px;background:#7599AB;padding:10px;color:#fff;">Note: All domestic delivery within India in 10 working days and and all international delivery within 21 working days. Your order may come in mulitple separate shipments from different Sellers. Tracking details wil be updated in 5 working days..</p>
                    
                    
                </td>
            </tr>
            <tr>
                <td>
                    <h2 style="font-size:18px; font-weight:normal; margin:0;">Your Transaction #{{var order.increment_id}} <small>(placed on {{var order.getCreatedAtFormated('long')}})</small></h2>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Billing Information:</th>
                            <th width="10"></th>
                            <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Payment Method:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                {{var order.getBillingAddress().format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{depend order.getIsNotVirtual()}}
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Shipping Information:</th>
                            <th width="10"></th>
                            <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Shipping Method:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                {{var order.getShippingAddress().format('html')}}
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                {{var order.getShippingDescription()}}
                                &nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{/depend}}
                    {{layout handle="sales_email_order_items" order=$order}}
                    <p style="font-size:12px; margin:0 10px 10px 0">{{var order.getEmailCustomerNote()}}</p>
                </td>
            </tr>
            <tr>
              
            </tr>
        </table>
                
    </td>
</tr>
</table>

<p><strong>Please note below our Refund Policy:</strong> <br>
  We  have a friendly return policy whereby we refund for products which are damaged,  broken, have manufacturing defects, wrong size or does not match with  photo/description as given on Craftsvilla.
 <strong>The customer/buyer has  to get back to Craftsvilla customer care through phone/email within 24 hours of  receipt of damaged goods or goods not meeting description.</strong>&nbsp;Craftsvilla will then log a dispute and  initiate a process of resolution between the artisan/designer and the customer.  Customer will have to send an image of product on email in case she is claiming  that the product is damaged or not matching description.&nbsp;<strong>The return shipping to seller for the product  will be borne by the customer.</strong></p>

 <!--Content End --> 
  
  <!--Footer HTML--> 
  <div style="height:215px;">
  <img src="{{skin url='images/top_image_new.jpg' _area='frontend'}}" alt="" border="0" style="padding-top:12px;"/>
  <div style="background:#ebebeb;color:#343232;font-style:italic;overflow:hidden;padding:9px 6px 15px;">
    <div style="padding:0 10px 5px;overflow:hidden;">
      <p style="font-size:12px;font-style:normal;float:left;margin:4px 0 0 0;"><a href="http://www.craftsvilla.com/about-us-craftsvilla/" style="text-decoration:none;color:#000000;">About</a> | <a href="http://www.craftsvilla.com/contact-us-craftsvilla/" style="text-decoration:none;color:#000000;">Contact Us</a> | <a href="http://www.craftsvilla.com/shipping-artisans-designers/" style="text-decoration:none;color:#000000;">Shipping &amp; Return Policy</a> | <a href="http://www.craftsvilla.com/terms-and-conditions-craftsvilla/" style="text-decoration:none;color:#000000;">Terms Privacy</a></p>
     <p style="float:right;margin:0;"><a href="https://www.facebook.com/craftsvilla"><img src="{{skin url='images/ficon.jpg' _area='frontend'}}" alt="Facebook" border="0" style="margin-right:5px;" /></a><a href="https://twitter.com/#!/craftsvilla"><img src="{{skin url='images/ticon.jpg' _area='frontend'}}" alt="twitter" border="0" /></a></p>
    </div>
    <div style="clear:both;"></div>
    <p style="border-width:1px 0; border-style:solid; border-color:#dddcdc; padding:1px;margin:0;"></p>
    <div style="padding:0 10px;">
      <p>You received this email because you are registered on Craftsvilla.com. We respect your privacy. Please view our privacy policy. If you believe this has been sent to you in error, please contact at <a href="mailto:customercare@craftsvilla.com" style="color:#444;">customercare@craftsvilla.com</a>.</p>
      <p style="color:#656565;margin:0;float:left;">Craftsvilla.com<br>
        Row House No. 2, Nirav Housing Complex, Thakur Complex<br>
        Kandivli (E), Mumbai, India 400101</p>
       <a href="http://www.surveymonkey.com/s/GTZZ7T5" style="color:#fff;text-decoration:none;font-weight:bold;font-size:13px;display:block;background:#7599AB;width:200px;padding:3px 0;border-radius:4px;float:right;margin:13px 14px 0 0;text-align:center;">Click here to take survey</a>  
    </div>
  </div>
  <img src="{{skin url='images/top_image_new.jpg' _area='frontend'}}" alt="" border="0"/> 
  </div>
  <!--Footer HTML END--> 
</div>


