<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Craftsvillatop>
            <version>0.1.0</version>
        </Craftsvilla_Craftsvillatop>
    </modules>
    <frontend>
      <routers>
            <craftsvillatop>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Craftsvillatop</module>
                    <frontName>craftsvillatop</frontName>
                </args>
            </craftsvillatop>
        </routers>
        <layout>
            <updates>
                <craftsvillatop>
                    <file>craftsvillatop.xml</file>
                </craftsvillatop>
            </updates>
        </layout>
    </frontend>
    <!--<admin>
        <routers>
			<craftsvillatop>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Craftsvillatop</module>
					<frontName>craftsvillatop</frontName>
				</args>
			</craftsvillatop>
        </routers>
    </admin>-->
    <global>
	<blocks>
		<craftsvillatop>
			<class>Craftsvilla_Craftsvillatop_Block</class>
		</craftsvillatop>
	</blocks>        
	<helpers>
		<craftsvillatop>
			<class>Craftsvilla_Craftsvillatop_Helper</class>
		</craftsvillatop>
	</helpers>	
	<!--<models>
            <craftsvillatop>
                <class>Craftsvilla_Craftsvillatop_Model</class>
                <resourceModel>craftsvillatop_mysql4</resourceModel>
            </craftsvillatop>
            <craftsvillatop_mysql4>
                <class>Craftsvilla_Craftsvillatop_Model_Mysql4</class>
             <entities>
                    <craftsvillatop>
                        <table>craftsvillatop</table>
                    </craftsvillatop>
                </entities>
            </craftsvillatop_mysql4>
        </models>
        <resources>
            <craftsvillatop_setup>
                <setup>
                    <module>Craftsvilla_Craftsvillatop</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </craftsvillatop_setup>
            <craftsvillatop_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </craftsvillatop_write>
            <craftsvillatop_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </craftsvillatop_read>
        </resources>-->
        
        
    </global>
</config>
