<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Productmanagement>
            <version>0.1.0</version>
        </Craftsvilla_Productmanagement>
    </modules>
    <!--<frontend>
      <routers>
            <productmanagement>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Productmanagement</module>
                    <frontName>productmanagement</frontName>
                </args>
            </productmanagement>
        </routers>
        <layout>
            <updates>
                <productmanagement>
                    <file>productmanagement.xml</file>
                </productmanagement>
            </updates>
        </layout>
    </frontend>-->
    <admin>
        <routers>
			<productmanagement>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Productmanagement</module>
					<frontName>productmanagement</frontName>
				</args>
			</productmanagement>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		<catalog>
		<children>
			<productmanagement module="productmanagement">
				<title>Productmanagement</title>
				<sort_order>71</sort_order>
				<action>productmanagement/adminhtml_productmanagement</action>
			</productmanagement>
		</children>
		</catalog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
    					<catalog>
        					<children>
        						<productmanagement translate="title" module="productmanagement">
        									<title>Disable Product Module</title>
        									<sort_order>10</sort_order>
        						</productmanagement>
        					</children>
    					</catalog>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<productmanagement>
					<file>productmanagement.xml</file>
				</productmanagement>
			</updates>
		</layout>
    </adminhtml>
    <global>
         <resources>
            <productmanagement_setup>
                <setup>
                    <module>Craftsvilla_Productmanagement</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productmanagement_setup>
            <productmanagement_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productmanagement_write>
            <productmanagement_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productmanagement_read>
        </resources>

        <blocks>
            <productmanagement>
                <class>Craftsvilla_Productmanagement_Block</class>
            </productmanagement>
        </blocks>
        <helpers>
            <productmanagement>
                <class>Craftsvilla_Productmanagement_Helper</class>
            </productmanagement>
        </helpers>
        <blocks>
        	<adminhtml>
                <rewrite>
                    <adminhtml_productmanagement_grid>Craftsvilla_Productmanagement_Adminhtml_Block_Adminhtml_Productmanagement_Grid</adminhtml_productmanagement_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>
