<?xml version="1.0"?>
<config>
    <modules>
        <Marketplace_Feedback>
            <version>0.1.2</version>
        </Marketplace_Feedback>
    </modules>
    <frontend>
         <routers>
            <feedback>
                <use>standard</use>
                <args>
                    <module>Marketplace_Feedback</module>
                    <frontName>feedback</frontName>
                </args>
            </feedback>
        </routers>
        <layout>
            <updates>
                <feedback>
                    <file>feedback.xml</file>
                </feedback>
            </updates>
        </layout>
     </frontend>
    <global>
		<template>
		    <email>
		        <feedback_reminder_email_template module="feedback">
		            <label>Feedback Reminder</label>
		            <file>feedback_reminder_email_template.html</file>
		            <type>html</type>
		        </feedback_reminder_email_template>
		    </email>
		</template>
        <models>
            <feedback>
                <class>Marketplace_Feedback_Model</class>
                <resourceModel>feedback_mysql4</resourceModel>
            </feedback>
            <feedback_mysql4>
                <class>Marketplace_Feedback_Model_Mysql4</class>
                <resourceModel>feedback_mysql4</resourceModel>
                <entities>
                    <vendor_feedback>
                        <table>feedback_vendor_shipping</table>
                    </vendor_feedback>
                    <feedback>
                        <table>feedback_vendor_shipping</table>
                    </feedback>
                </entities>
            </feedback_mysql4>
        </models>
         <blocks>
           <feedback>
                <class>Marketplace_Feedback_Block</class>
           </feedback>
        </blocks>
         <resources>       
            <feedback_setup>
                <setup>
                    <module>Marketplace_Feedback</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </feedback_setup>
            <feedback_setup>
                <connection>
                    <use>core_write</use>
                </connection>
            </feedback_setup>
            <feedback_setup>
                <connection>
                    <use>core_read</use>
                </connection>
            </feedback_setup>
        </resources>
        <sales_convert_quote_item>
                <udropship_vendor><to_order_item>*</to_order_item><to_invoice_item>*</to_invoice_item><to_cm_item>*</to_cm_item><to_shipment_item>*</to_shipment_item></udropship_vendor>
        </sales_convert_quote_item>
        <sales>
            <shipping>
                <item>
                           <feedback/>
                </item>
            </shipping>
        </sales>
	<events>
		<craftsvilla_shipment_status_save_after>
			<observers>
				<marketplace_shipping_save>
					<class>Marketplace_Feedback_Model_Observer</class>
					<method>commentSave</method>
				</marketplace_shipping_save>
			</observers>
		</craftsvilla_shipment_status_save_after>
   </events>
    </global>
	<crontab>
        <jobs>
            <marketplace_follow_reminder>
                <schedule><cron_expr>00 17 * * *</cron_expr></schedule>
                <run><model>feedback/cron::sendfollowreminder</model></run>
            </marketplace_follow_reminder>
        </jobs>
    </crontab>
</config>
