<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Utrreport>
            <version>0.1.0</version>
        </Craftsvilla_Utrreport>
    </modules>
    <frontend>
        <routers>
            <utrreport>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Utrreport</module>
                    <frontName>utrreport</frontName>
                </args>
            </utrreport>
        </routers>
        <layout>
            <updates>
                <utrreport>
                    <file>utrreport.xml</file>
                </utrreport>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<utrreport>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Utrreport</module>
					<frontName>utrreport</frontName>
				</args>
			</utrreport>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<report>
				<children>
					<utrreport module="utrreport">
						<title>Utrreport</title>
						<sort_order>71</sort_order>               
						<!--<children>
							<items module="utrreport">
								<title>Manage Items</title>
								<sort_order>0</sort_order>
								<action>utrreport/adminhtml_utrreport</action>
							</items>
						</children>-->
						<action>utrreport/adminhtml_utrreport</action>
					</utrreport>
				</children>
			</report>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<report>
							<children>
								<utrreport>
									<title>Utrreport Module</title>
									<sort_order>10</sort_order>
								</utrreport>
							</children>
						</report>	
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<utrreport>
					<file>utrreport.xml</file>
				</utrreport>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <utrreport>
                <class>Craftsvilla_Utrreport_Model</class>
                <resourceModel>utrreport_mysql4</resourceModel>
            </utrreport>
            <utrreport_mysql4>
                <class>Craftsvilla_Utrreport_Model_Mysql4</class>
                <entities>
                    <utrreport>
                        <table>utrreport</table>
                    </utrreport>
                </entities>
            </utrreport_mysql4>
        </models>
        <resources>
            <utrreport_setup>
                <setup>
                    <module>Craftsvilla_Utrreport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </utrreport_setup>
            <utrreport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </utrreport_write>
            <utrreport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </utrreport_read>
        </resources>
        <blocks>
            <utrreport>
                <class>Craftsvilla_Utrreport_Block</class>
            </utrreport>
        </blocks>
        <helpers>
            <utrreport>
                <class>Craftsvilla_Utrreport_Helper</class>
            </utrreport>
        </helpers>
    </global>
</config>