<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Bulkinventoryupdate>
            <version>0.1.0</version>
        </Craftsvilla_Bulkinventoryupdate>
    </modules>
    <frontend>
      <routers>
            <bulkinventoryupdate>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Bulkinventoryupdate</module>
                    <frontName>bulkinventoryupdate</frontName>
                </args>
            </bulkinventoryupdate>
        </routers>
        <layout>
            <updates>
                <bulkinventoryupdate>
                    <file>bulkinventoryupdate.xml</file>
                </bulkinventoryupdate>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bulkinventoryupdate>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Bulkinventoryupdate</module>
					<frontName>bulkinventoryupdate</frontName>
				</args>
			</bulkinventoryupdate>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		<catalog>
		<children>
			<bulkinventoryupdate module="bulkinventoryupdate">
				<title>Bulkinventoryupdate</title>
				<sort_order>71</sort_order>               
				<!--<children>
					<items module="bulkuploadcsv">
						<title>Manage Items</title>
						<sort_order>0</sort_order>-->
						<action>bulkinventoryupdate/adminhtml_bulkinventoryupdate</action>
					</bulkinventoryupdate>
			</children>
			</catalog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<!--<children>
						<Craftsvilla_Bulkinventoryupdate>
							<title>Bulkinventoryupdate Module</title>
							<sort_order>10</sort_order>
						</Craftsvilla_Bulkinventoryupdate>
					</children>-->
					<children>
					    <catalog>
		                  <children>
						<!--<Craftsvilla_Bulkuploadcsv>
							<title>Bulkuploadcsv Module</title>
							<sort_order>10</sort_order>
						</Craftsvilla_Bulkuploadcsv>
-->					<bulkinventoryupdate module="bulkinventoryupdate">
									<title>Bulkinventoryupdate</title>
									<sort_order>19</sort_order>
								</bulkinventoryupdate>
							</children>	
						</catalog>
					</children>	
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bulkinventoryupdate>
					<file>bulkinventoryupdate.xml</file>
				</bulkinventoryupdate>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <bulkinventoryupdate>
                <class>Craftsvilla_Bulkinventoryupdate_Model</class>
                <resourceModel>bulkinventoryupdate_mysql4</resourceModel>
            </bulkinventoryupdate>
            <bulkinventoryupdate_mysql4>
                <class>Craftsvilla_Bulkinventoryupdate_Model_Mysql4</class>
             <entities>
                    <bulkinventoryupdate>
                        <table>bulkinventoryupdate</table>
                    </bulkinventoryupdate>
                </entities>
            </bulkinventoryupdate_mysql4>
        </models>
        <resources>
            <bulkinventoryupdate_setup>
                <setup>
                    <module>Craftsvilla_Bulkinventoryupdate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bulkinventoryupdate_setup>
            <bulkinventoryupdate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bulkinventoryupdate_write>
            <bulkinventoryupdate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bulkinventoryupdate_read>
        </resources>
        <blocks>
            <bulkinventoryupdate>
                <class>Craftsvilla_Bulkinventoryupdate_Block</class>
            </bulkinventoryupdate>
        </blocks>
        <helpers>
            <bulkinventoryupdate>
                <class>Craftsvilla_Bulkinventoryupdate_Helper</class>
            </bulkinventoryupdate>
        </helpers>
		<template>
     <email>
		<bulkinventoryupdate_email_template module="bulkinventoryupdate">
		          <label>Bulk Inventory Update Email</label>
		          <file>bulkinventoryupdate_email_template.html</file>
		          <type>html</type>
		   </bulkinventoryupdate_email_template>
		     </email>
 </template>
    </global>
</config>