<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Vendoractivityremark>
            <version>0.1.0</version>
        </Craftsvilla_Vendoractivityremark>
    </modules>
    <frontend>
      <routers>
            <vendoractivityremark>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Vendoractivityremark</module>
                    <frontName>vendoractivityremark</frontName>
                </args>
            </vendoractivityremark>
        </routers>
        <layout>
            <updates>
                <vendoractivityremark>
                    <file>vendoractivityremark.xml</file>
                </vendoractivityremark>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<vendoractivityremark>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Vendoractivityremark</module>
					<frontName>vendoractivityremark</frontName>
				</args>
			</vendoractivityremark>
        </routers>
    </admin>
    <adminhtml>
		
     <menu>
	     <catalog>
		<children>
			<vendoractivityremark module="vendoractivityremark">
				<title>Vendoractivityremark</title>
				<sort_order>71</sort_order>               
				<action>vendoractivityremark/adminhtml_vendoractivityremark</action>
			</vendoractivityremark>
		</children>
	   </catalog>
     </menu>

		<acl>
			<resources>
			<all>
			<title>Allow Everything</title>
			</all>
			<admin>
				<children>
					<catalog>
						<children>
							
                      <vendoractivityremark translate="title" module="vendoractivityremark">
		      <title>Vendoractivityremark Module</title>
		      <sort_order>10</sort_order>
		       </vendoractivityremark>

						</children>
					</catalog>
				</children>
			</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<vendoractivityremark>
					<file>vendoractivityremark.xml</file>
				</vendoractivityremark>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <vendoractivityremark>
                <class>Craftsvilla_Vendoractivityremark_Model</class>
                <resourceModel>vendoractivityremark_mysql4</resourceModel>
            </vendoractivityremark>
            <vendoractivityremark_mysql4>
                <class>Craftsvilla_Vendoractivityremark_Model_Mysql4</class>
             <entities>
                    <vendoractivityremark>
                        <table>vendoractivityremark</table>
                    </vendoractivityremark>
                </entities>
            </vendoractivityremark_mysql4>
        </models>
        <resources>
            <vendoractivityremark_setup>
                <setup>
                    <module>Craftsvilla_Vendoractivityremark</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vendoractivityremark_setup>
            <vendoractivityremark_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vendoractivityremark_write>
            <vendoractivityremark_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vendoractivityremark_read>
        </resources>
        <blocks>
            <vendoractivityremark>
                <class>Craftsvilla_Vendoractivityremark_Block</class>
            </vendoractivityremark>
        </blocks>
        <helpers>
            <vendoractivityremark>
                <class>Craftsvilla_Vendoractivityremark_Helper</class>
            </vendoractivityremark>
        </helpers>
    </global>
</config>
