<?xml version="1.0"?>
<!--
/******************************************************
 * @package MT OneStepCheckOut module for Magento 1.4.x.x and Magento 1.5.x.x
 * @version 1.5.2.1
 * @author http://www.magentheme.com
 * @copyright (C) 2011- MagenTheme.Com
 * @license PHP files are GNU/GPL
*******************************************************/
-->
<config>
    <modules>
        <MagenThemes_MTOneStepCheckout>
            <version>2.0.0</version>
        </MagenThemes_MTOneStepCheckout>
    </modules>
    <frontend>
	<secure_url>
            <!-- <mtonestepcheckout>/mtonestepcheckout</mtonestepcheckout> -->
            <mtonestepcheckout>/checkout</mtonestepcheckout>
	</secure_url>
        <routers>
            <mtonestepcheckout>
                <use>standard</use>
                <args>
                    <module>MagenThemes_MTOneStepCheckout</module>
                    <frontName>mtonestepcheckout</frontName>
                    <frontName>hcheckout</frontName>
                </args>
            </mtonestepcheckout>
        </routers>
        <layout>
            <updates>
                <mtonestepcheckout>
                    <file>mtonestepcheckout.xml</file>
                </mtonestepcheckout>
            </updates>
        </layout>
	<events>
	    <checkout_controller_onestepcheckout_save_order_after>
		<observers>
		    <giftmessage>
			<type>model</type>
			<class>giftmessage/observer</class>
			<method>checkoutEventCreateGiftMessage</method>
		    </giftmessage>
		</observers>
	    </checkout_controller_onestepcheckout_save_order_after>
	</events>
    </frontend>
    <!--<admin>
        <routers>
	    <mtonestepcheckout>
		<use>admin</use>
		<args>
		    <module>MagenThemes_OneStepCheckout</module>
		    <frontName>mtonestepcheckout</frontName>
		</args>
	    </mtonestepcheckout>
        </routers>
    </admin>-->
    <adminhtml>
	<layout>
	    <updates>
		<mtonestepcheckout>
		    <file>mtonestepcheckout.xml</file>
		</mtonestepcheckout>
	    </updates>
	</layout>
    </adminhtml>
    <global>
        <models>
            <mtonestepcheckout>
                <class>MagenThemes_MTOneStepCheckout_Model</class>
                <!--<resourceModel>mtonestepcheckout_mysql4</resourceModel>-->
            </mtonestepcheckout>
            <!--<onestepcheckout_mysql4>
                <class>Magenthemes_Onestepcheckout_Model_Mysql4</class>
                <entities>
                    <onestepcheckout>
                        <table>onestepcheckout</table>
                    </onestepcheckout>
                </entities>
            </onestepcheckout_mysql4>-->
	    <sales>
		<rewrite>
		    <quote_address>MagenThemes_MTOneStepCheckout_Model_Address</quote_address>
		</rewrite>
	    </sales>
	    <customer>
		<rewrite>
		    <attribute>MagenThemes_MTOneStepCheckout_Model_Address_Attribute</attribute>
		</rewrite>
	    </customer>
        </models>
        <resources>
            <mtonestepcheckout_setup>
                <setup>
                    <module>MagenThemes_MTOneStepCheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mtonestepcheckout_setup>
            <mtonestepcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mtonestepcheckout_write>
            <mtonestepcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mtonestepcheckout_read>
        </resources>
        <blocks>
            <mtonestepcheckout>
                <class>MagenThemes_MTOneStepCheckout_Block</class>
            </mtonestepcheckout>
	    <!--<adminhtml>
                <rewrite>
                    <sales_order_view_info>MagenThemes_MTOneStepCheckout_Block_Adminhtml_Sales_Order_View_Info</sales_order_view_info>
                </rewrite>
            </adminhtml>-->
        </blocks>
        <helpers>
            <mtonestepcheckout>
                <class>MagenThemes_MTOneStepCheckout_Helper</class>
            </mtonestepcheckout>
        </helpers>
	<events>
	    <controller_action_predispatch_checkout_onepage_index>
		<observers>
		    <magenthemes_onestepcheckout_observer>
			<type>singleton</type>
			<class>mtonestepcheckout/observer</class>
			<method>initController</method>
		    </magenthemes_onestepcheckout_observer>
		</observers>
	    </controller_action_predispatch_checkout_onepage_index>
	    <admin_system_config_changed_section_general>
                <observers>
                    <mtonestepcheckout>
                        <type>model</type>
                        <class>mtonestepcheckout/observer</class>
                        <method>admin_system_config_changed_section_general</method>
                    </mtonestepcheckout>
                </observers>
            </admin_system_config_changed_section_general>
	    <admin_system_config_changed_section_checkout>
                <observers>
                    <mtonestepcheckout>
                        <type>model</type>
                        <class>mtonestepcheckout/observer</class>
                        <method>admin_system_config_changed_section_checkout</method>
                    </mtonestepcheckout>
                </observers>
            </admin_system_config_changed_section_checkout>
	    <admin_system_config_changed_section_mtonestepcheckout>
                <observers>
                    <mtonestepcheckout>
                        <type>model</type>
                        <class>mtonestepcheckout/observer</class>
                        <method>admin_system_config_changed_section_onestepcheckout</method>
                    </mtonestepcheckout>
                </observers>
            </admin_system_config_changed_section_mtonestepcheckout>
	    <admin_system_config_changed_section_sales>
                <observers>
                    <mtonestepcheckout>
                        <type>model</type>
                        <class>mtonestepcheckout/observer</class>
                        <method>admin_system_config_changed_section_sales</method>
                    </mtonestepcheckout>
                </observers>
            </admin_system_config_changed_section_sales>
	</events>
    </global>
    <default>
	<mtonestepcheckout>
	    <general>
		<active>1</active>
		<default_country>US</default_country>
		<default_zipcode>93504</default_zipcode>
		<checkout_title>One step Checkout</checkout_title>
		<checkout_description>Please enter your details below to complete your purchase.</checkout_description>
		<guest_checkout>1</guest_checkout>
		<enable_agreements>0</enable_agreements>
		<allow_order>0</allow_order>
		<allow_items>0</allow_items>
		<use_geoip>1</use_geoip>
		<geoip_database>whois.ripe.net</geoip_database>
	    </general>
	    <shipping>
		<change_country>1</change_country>
		<change_postcode>1</change_postcode>
		<change_region>1</change_region>
		<reload_payment>1</reload_payment>
	    </shipping>
	    <payment>
		<use_ajax>1</use_ajax>
	    </payment>
	    <exclude>
		<shipping_address>0</shipping_address>
		<fax>0</fax>
		<telephone>0</telephone>
		<company>0</company>
		<city>0</city>
		<region>0</region>
		<postcode>0</postcode>
		<is_subscribed>0</is_subscribed>
		<coupon>0</coupon>
		<update_qty>1</update_qty>
	    </exclude>
	</mtonestepcheckout>
    </default>
</config>
