<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Seocontent>
            <version>0.1.0</version>
        </Craftsvilla_Seocontent>
    </modules>
    <frontend>
      <routers>
            <seocontent>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Seocontent</module>
                    <frontName>seocontent</frontName>
                </args>
            </seocontent>
        </routers>
        <layout>
            <updates>
                <seocontent>
                    <file>seocontent.xml</file>
                </seocontent>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<seocontent>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Seocontent</module>
					<frontName>seocontent</frontName>
				</args>
			</seocontent>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<report>
				<children>
			<seocontent module="seocontent">
				<title>Seocontent</title>
				<sort_order>71</sort_order>               
				<!--<children>
					<items module="seocontent">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>seocontent/adminhtml_seocontent</action>
					</items>
				</children>-->
				<action>seocontent/adminhtml_seocontent</action>
			</seocontent>
		</children>
			</report>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
			<admin>
				<children>
					<report>
						<children>
							<seocontent>
								<title>Seocontent Module</title>
								<sort_order>10</sort_order>
							</seocontent>
						</children>
					</report>	
				</children>
			</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<seocontent>
					<file>seocontent.xml</file>
				</seocontent>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <seocontent>
                <class>Craftsvilla_Seocontent_Model</class>
                <resourceModel>seocontent_mysql4</resourceModel>
            </seocontent>
            <seocontent_mysql4>
                <class>Craftsvilla_Seocontent_Model_Mysql4</class>
             <entities>
                    <seocontent>
                        <table>seocontent</table>
                    </seocontent>
                </entities>
            </seocontent_mysql4>
        </models>
        <resources>
            <seocontent_setup>
                <setup>
                    <module>Craftsvilla_Seocontent</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seocontent_setup>
            <seocontent_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seocontent_write>
            <seocontent_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seocontent_read>
        </resources>
        <blocks>
            <seocontent>
                <class>Craftsvilla_Seocontent_Block</class>
            </seocontent>
        </blocks>
        <helpers>
            <seocontent>
                <class>Craftsvilla_Seocontent_Helper</class>
            </seocontent>
        </helpers>
    </global>
</config>