<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Ebslink>
            <version>0.1.0</version>
        </Craftsvilla_Ebslink>
    </modules>
    <frontend>
        <routers>
            <ebslink>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Ebslink</module>
                    <frontName>ebslink</frontName>
                </args>
            </ebslink>
        </routers>
        <layout>
            <updates>
                <ebslink>
                    <file>ebslink.xml</file>
                </ebslink>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ebslink>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Ebslink</module>
					<frontName>ebslink</frontName>
				</args>
			</ebslink>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<sales>
				<children>
					<items module="ebslink">
						<title>Ebslink</title>
						<sort_order>19</sort_order>
						<action>ebslink/adminhtml_ebslink</action>
					</items>
				</children>
			</sales>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>				
						<sales>
							<children>
								<items module="ebslink">
									<title>Ebslink</title>
									<sort_order>19</sort_order>
								</items>
							</children>	
						</sales>
					</children>	
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<ebslink>
					<file>ebslink.xml</file>
				</ebslink>
			</updates>
		</layout>
    </adminhtml>   
    <global>
		<template>
			<email>
				<ebslinks_email_template module="ebslink">
				<label>Ebslink</label>
				<file>ebslinks_email_template.html</file>
				<type>html</type>
				</ebslinks_email_template>
				<ebslinks_email_revised_template module="ebslink">
				<label>Ebslink</label>
				<file>ebslinks_email_revised_template.html</file>
				<type>html</type>
				</ebslinks_email_revised_template>
			</email>
		</template>
        <models>
            <ebslink>
                <class>Craftsvilla_Ebslink_Model</class>
                <resourceModel>ebslink_mysql4</resourceModel>
            </ebslink>
            <ebslink_mysql4>
                <class>Craftsvilla_Ebslink_Model_Mysql4</class>
                <entities>
                    <ebslink>
                        <table>ebslink</table>
                    </ebslink>
                </entities>
            </ebslink_mysql4>
        </models>
        <resources>
            <ebslink_setup>
                <setup>
                    <module>Craftsvilla_Ebslink</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ebslink_setup>
            <ebslink_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ebslink_write>
            <ebslink_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ebslink_read>
        </resources>
        <blocks>
            <ebslink>
                <class>Craftsvilla_Ebslink_Block</class>
            </ebslink>
        </blocks>
        <helpers>
            <ebslink>
                <class>Craftsvilla_Ebslink_Helper</class>
            </ebslink>
        </helpers>
		</global>
</config>