<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Codshipments>
            <version>0.2.0</version>
        </Craftsvilla_Codshipments>
    </modules>
    <frontend>
      <routers>
            <codshipments>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Codshipments</module>
                    <frontName>codshipments</frontName>
                </args>
            </codshipments>
        </routers>
        <layout>
            <updates>
                <codshipments>
                    <file>codshipments.xml</file>
                </codshipments>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<codshipments>
				<use>admin</use>
				<args>
					<module>Craftsvilla_codshipments</module>
					<frontName>codshipments</frontName>
				</args>
			</codshipments>
        </routers>
    </admin>
    <adminhtml>
		<menu>
     	<sales>
				<children>
			<codshipments module="codshipments">
				<title>Codshipments</title>
				<sort_order>71</sort_order>  
				<action>codshipments/adminhtml_codshipments</action>             
				<!--<children>
					<items module="codshipments">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>codshipments/adminhtml_codshipments</action>
					</items>
				</children>-->
			</codshipments>
		</children>
			</sales>
		</menu>		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Craftsvilla_Codshipments>
							<title>Codshipments Module</title>
							<sort_order>10</sort_order>
						</Craftsvilla_Codshipments>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<codshipments>
					<file>codshipments.xml</file>
				</codshipments>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <codshipments>
                <class>Craftsvilla_Codshipments_Model</class>
                <resourceModel>codshipments_mysql4</resourceModel>
            </codshipments>
            <codshipments_mysql4>
                <class>Craftsvilla_Codshipments_Model_Mysql4</class>
             <entities>
                    <codshipments>
                        <table>codshipments</table>
                    </codshipments>
                </entities>
            </codshipments_mysql4>
        </models>
        <resources>
            <codshipments_setup>
                <setup>
                    <module>Craftsvilla_Codshipments</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </codshipments_setup>
            <codshipments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </codshipments_write>
            <codshipments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </codshipments_read>
        </resources>
        <blocks>
            <codshipments>
                <class>Craftsvilla_Codshipments_Block</class>
            </codshipments>
        </blocks>
        <helpers>
            <codshipments>
                <class>Craftsvilla_Codshipments_Helper</class>
            </codshipments>
        </helpers>
    </global>
</config>