<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Managemkt>
            <version>0.1.0</version>
        </Craftsvilla_Managemkt>
    </modules>
    <frontend>
        <routers>
            <managemkt>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Managemkt</module>
                    <frontName>managemkt</frontName>
                </args>
            </managemkt>
        </routers>
        <layout>
            <updates>
                <managemkt>
                    <file>managemkt.xml</file>
                </managemkt>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<managemkt>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Managemkt</module>
					<frontName>managemkt</frontName>
				</args>
			</managemkt>
        </routers>
    </admin>
    <adminhtml>
			<menu>
				<report>
					<children>
						<managemkt module="managemkt">
							<title>Manage Marketing</title>
							<sort_order>71</sort_order>               
							<!--<children>
							<items module="managemkt">
							<title>Manage Items</title>
							<sort_order>0</sort_order>
							<action>managemkt/adminhtml_managemkt</action>
							</items>
							</children>-->
							<action>managemkt/adminhtml_managemkt</action>
						</managemkt>
					</children>
				</report>
			</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<report>
							<children>
								<managemkt>
									<title>Managemkt Module</title>
									<sort_order>10</sort_order>
								</managemkt>
							</children>
						</report>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<managemkt>
					<file>managemkt.xml</file>
				</managemkt>
			</updates>
		</layout>
    </adminhtml>   
    <global>
		<template>
		    <email>
		        <marketing_email_seller_template module="managemkt">
		            <label>Marketing Email</label>
		            <file>marketing_email_seller.html</file>
		            <type>html</type>
		        </marketing_email_seller_template>
			</email>	
		</template>
        <models>
            <managemkt>
                <class>Craftsvilla_Managemkt_Model</class>
                <resourceModel>managemkt_mysql4</resourceModel>
            </managemkt>
            <managemkt_mysql4>
                <class>Craftsvilla_Managemkt_Model_Mysql4</class>
                <entities>
                    <managemkt>
                        <table>managemkt</table>
                    </managemkt>
                </entities>
            </managemkt_mysql4>
        </models>
        <resources>
            <managemkt_setup>
                <setup>
                    <module>Craftsvilla_Managemkt</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </managemkt_setup>
            <managemkt_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </managemkt_write>
            <managemkt_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </managemkt_read>
        </resources>
        <blocks>
            <managemkt>
                <class>Craftsvilla_Managemkt_Block</class>
            </managemkt>
        </blocks>
        <helpers>
            <managemkt>
                <class>Craftsvilla_Managemkt_Helper</class>
            </managemkt>
        </helpers>
    </global>
</config>