<?xml version="1.0"?>
<config>
	<modules>
		<Craftsvilla_Dhlinternational>
			<version>0.1.0</version>
		</Craftsvilla_Dhlinternational>
	</modules>
	
	<admin>
		<routers>
			<dhlinternational>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Dhlinternational</module>
					<frontName>dhlinternational</frontName>
				</args>
			</dhlinternational>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<dhlinternational>
					<file>dhlinternational.xml</file>
				</dhlinternational>
			</updates>
		</layout>
	</adminhtml>  
	<global>
		<models>
			<dhlinternational>
				<class>Craftsvilla_Dhlinternational_Model</class>
				<resourceModel>dhlinternational_mysql4</resourceModel>
			</dhlinternational>
			<dhlinternational_mysql4>
				<class>Craftsvilla_Dhlinternational_Model_Mysql4</class>
				<entities>
					<dhlinternational>
						<table>dhlinternational</table>
					</dhlinternational>
				</entities>
			</dhlinternational_mysql4>
		</models>
		<events>
			<sales_order_place_after>
				<observers>
					<craftsvilla_dhlinternational_order_observer>
						<type>singleton</type>
						<class>Craftsvilla_Dhlinternational_Model_Order_Observer</class>
						<method>export_new_order</method>
					</craftsvilla_dhlinternational_order_observer>
				</observers>
			</sales_order_place_after>
			<sales_order_creditmemo_refund>
				<observers>
					<craftsvilla_dhlinternational_order_observer>
						<type>singleton</type>
						<class>Craftsvilla_Dhlinternational_Model_Order_Observer</class>
						<method>return_order</method>
					</craftsvilla_dhlinternational_order_observer>
				</observers>
			</sales_order_creditmemo_refund>
		</events>
		<resources>
			<dhlinternational_setup>
			    <setup>
					<module>Craftsvilla_Dhlinternational</module>
					<class>Craftsvilla_Dhlinternational_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</dhlinternational_setup>
			<dhlinternational_write>
				<connection>
					<use>core_write</use>
				</connection>
			</dhlinternational_write>
			<dhlinternational_read>
				<connection>
					<use>core_read</use>
				</connection>
			</dhlinternational_read>
		</resources>
		<!--<blocks>
			<dhlinternational>
				<class>Craftsvilla_Dhlinternational_Block</class>
			</dhlinternational>
			
		</blocks>-->
		<helpers>
			<dhlinternational>
				<class>Craftsvilla_Dhlinternational_Helper</class>
			</dhlinternational>
		</helpers>
	</global>

</config>
