<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Agentpayout>
            <version>0.1.0</version>
        </Craftsvilla_Agentpayout>
    </modules>
    <frontend>
      <routers>
            <agentpayout>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Agentpayout</module>
                    <frontName>agentpayout</frontName>
                </args>
            </agentpayout>
        </routers>
        <layout>
            <updates>
                <agentpayout>
                    <file>agentpayout.xml</file>
                </agentpayout>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<agentpayout>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Agentpayout</module>
					<frontName>agentpayout</frontName>
				</args>
			</agentpayout>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<report>
				<children>						
					<agentpayout module="agentpayout">
						<title>Agentpayout</title>
						<sort_order>98</sort_order>               
						<action>agentpayout/adminhtml_agentpayout</action>
							<children>
								<import translate="title">
									<title>Import</title>
									<sort_order>15</sort_order>
										<children>
											<importtype translate="title">
												<title>Import Payment and Type</title>
												<action>agentpayout/adminhtml_importpaytype</action>
												<sort_order>20</sort_order>
											</importtype>
										</children>
								 </import>       
							</children>
					</agentpayout>
				</children>	
			</report>	
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<report>
							<children>
								<agentpayout>
									<title>Agentpayout Module</title>
									<children>
										<import translate="title">
										<title>Import</title>
										<sort_order>15</sort_order>
											<children>
												<importtype translate="title">
													<title>Import Payment and Type</title>
													<sort_order>20</sort_order>
												</importtype>
											</children>
										</import>       
									</children>
								</agentpayout>
							</children>
						</report>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<agentpayout>
					<file>agentpayout.xml</file>
				</agentpayout>
			</updates>
		</layout>
    </adminhtml>   
    <global>
		<template>
			<email>
				<shipmentpayments_to_agents module="agentpayout">
						<label>agentpayout csv</label>
						<file>shipmentpayments_to_agents.html</file>
						<type>html</type>
				</shipmentpayments_to_agents>
			</email>
		</template>	
        <models>
            <agentpayout>
                <class>Craftsvilla_Agentpayout_Model</class>
                <resourceModel>agentpayout_mysql4</resourceModel>
            </agentpayout>
            <agentpayout_mysql4>
                <class>Craftsvilla_Agentpayout_Model_Mysql4</class>
             <entities>
                    <agentpayout>
                        <table>agentpayout</table>
                    </agentpayout>
                </entities>
            </agentpayout_mysql4>
        </models>
        <resources>
            <agentpayout_setup>
                <setup>
                    <module>Craftsvilla_Agentpayout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </agentpayout_setup>
            <agentpayout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </agentpayout_write>
            <agentpayout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </agentpayout_read>
        </resources>
        <blocks>
            <agentpayout>
                <class>Craftsvilla_Agentpayout_Block</class>
            </agentpayout>
        </blocks>
        <helpers>
            <agentpayout>
                <class>Craftsvilla_Agentpayout_Helper</class>
            </agentpayout>
        </helpers>
    </global>
</config>