<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Disputeraised>
            <version>0.1.0</version>
        </Craftsvilla_Disputeraised>
    </modules>
    <frontend>
        <routers>
            <disputeraised>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Disputeraised</module>
                    <frontName>disputeraised</frontName>
                </args>
            </disputeraised>
        </routers>
        <layout>
            <updates>
                <disputeraised>
                    <file>disputeraised.xml</file>
                </disputeraised>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<disputeraised>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Disputeraised</module>
					<frontName>disputeraised</frontName>
				</args>
			</disputeraised>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			
			<sales>
		<children>
			<disputeraised module="disputeraised">
				<title>Disputeraised</title>
				<sort_order>71</sort_order>               
				<action>disputeraised/adminhtml_disputeraised</action>
			</disputeraised>
			</children>
			</sales>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Craftsvilla_Disputeraised>
							<title>Disputeraised Module</title>
							<sort_order>10</sort_order>
						</Craftsvilla_Disputeraised>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<disputeraised>
					<file>disputeraised.xml</file>
				</disputeraised>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <disputeraised>
                <class>Craftsvilla_Disputeraised_Model</class>
                <resourceModel>disputeraised_mysql4</resourceModel>
            </disputeraised>
            <disputeraised_mysql4>
                <class>Craftsvilla_Disputeraised_Model_Mysql4</class>
                <entities>
                    <disputeraised>
                        <table>disputeraised</table>
                    </disputeraised>
                </entities>
            </disputeraised_mysql4>
        </models>
        <resources>
            <disputeraised_setup>
                <setup>
                    <module>Craftsvilla_Disputeraised</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </disputeraised_setup>
            <disputeraised_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </disputeraised_write>
            <disputeraised_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </disputeraised_read>
        </resources>
        <blocks>
            <disputeraised>
                <class>Craftsvilla_Disputeraised_Block</class>
            </disputeraised>
        </blocks>
        <helpers>
            <disputeraised>
                <class>Craftsvilla_Disputeraised_Helper</class>
            </disputeraised>
        </helpers>
    </global>
</config>