<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Customerreturn>
            <version>0.1.0</version>
        </Craftsvilla_Customerreturn>
    </modules>
 <!--   <frontend>
      <routers>
            <web>
                <use>standard</use>
                <args>
                    <module>Company_Web</module>
                    <frontName>web</frontName>
                </args>
            </web>
        </routers>
        <layout>
            <updates>
                <web>
                    <file>web.xml</file>
                </web>
            </updates>
        </layout>
    </frontend>-->
    <admin>
        <routers>
			<customerreturn>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Customerreturn</module>
					<frontName>customerreturn</frontName>
				</args>
			</customerreturn>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<sales>
				<children>
					<customerreturn module="customerreturn">
						<title>Customer Return</title>
						<sort_order>71</sort_order>               
						<action>customerreturn/adminhtml_customerreturn</action>
					</customerreturn>
				</children>
			</sales>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
					<sales>
						<children>
							<customerreturn translate="title" module="customerreturn">
							<title>customerreturn Module</title>
							<sort_order>10</sort_order>
							</customerreturn>
						</children>
					</sales>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<customerreturn>
					<file>customerreturn.xml</file>
				</customerreturn>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <customerreturn>
                <class>Craftsvilla_Customerreturn_Model</class>
                <resourceModel>customerreturn_mysql4</resourceModel>
            </customerreturn>
            <customerreturn_mysql4>
                <class>Craftsvilla_Customerreturn_Model_Mysql4</class>
             <entities>
                    <customerreturn>
                        <table>customerreturn</table>
                    </customerreturn>
                </entities>
            </customerreturn_mysql4>
        </models>
        <resources>
            <customerreturn_setup>
                <setup>
                    <module>Craftsvilla_Customerreturn</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerreturn_setup>
            <customerreturn_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerreturn_write>
            <customerreturn_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerreturn_read>
        </resources>
        <blocks>
            <customerreturn>
                <class>Craftsvilla_Customerreturn_Block</class>
            </customerreturn>
        </blocks>
        <helpers>
            <customerreturn>
                <class>Craftsvilla_Customerreturn_Helper</class>
            </customerreturn>
        </helpers>
		<template>
			<email>
				<customer_return_to_seller_email_template module="customerreturn">
				<label>customer_return_to_seller_email_template</label>
				<file>customer_return_to_seller_email_template.html</file>
				<type>html</type>
				</customer_return_to_seller_email_template>
			</email>
		</template>
    </global>
</config>
