<?xml version="1.0"?>
<config>
  <modules>
    <Amasty_Xcoupon>
      <version>1.0.3</version>
    </Amasty_Xcoupon>
  </modules>
  
	<global>
		<resources>
		  <amxcoupon_setup>
			  <setup>
				  <module>Amasty_Xcoupon</module>
			  </setup>
			  <connection>
				  <use>core_setup</use>
			  </connection>
		  </amxcoupon_setup>
		  <amxcoupon_write>
			  <connection>
				  <use>core_write</use>
			  </connection>
		  </amxcoupon_write>
		  <amxcoupon_read>
			  <connection>
				  <use>core_read</use>
			  </connection>
		  </amxcoupon_read>
		</resources>
		
		<models>
			<amxcoupon>
				<class>Amasty_Xcoupon_Model</class>
			</amxcoupon>
            <salesrule_mysql4>
                <rewrite>
                    <rule_collection>Amasty_Xcoupon_Model_Salesrule_Mysql4_Rule_Collection</rule_collection>
                </rewrite>
            </salesrule_mysql4>	
		</models>
    	  <helpers>
    		  <amxcoupon>
    			  <class>Amasty_Xcoupon_Helper</class>
    		  </amxcoupon>
    	  </helpers>
        <blocks>
            <amxcoupon>
                <class>Amasty_Xcoupon_Block</class>
            </amxcoupon>
            <adminhtml>
                <rewrite>
                    <promo_quote_edit_tabs>Amasty_Xcoupon_Block_Adminhtml_Promo_Quote_Edit_Tabs</promo_quote_edit_tabs>
                    <promo_quote_edit_form>Amasty_Xcoupon_Block_Adminhtml_Promo_Quote_Edit_Form</promo_quote_edit_form>
                </rewrite>
            </adminhtml>              
        </blocks>
	</global>
	
    <admin>
        <routers>
			<amxcoupon>
				<use>admin</use>
				<args>
					<module>Amasty_Xcoupon</module>
					<frontName>amxcoupon</frontName>
				</args>
			</amxcoupon>
        </routers>
    </admin>
    	
	<frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <amxcoupon>
                        <type>singleton</type>
                        <class>amxcoupon/observer</class>
                        <method>handleControllerActionPredispatch</method>
                    </amxcoupon>
                </observers>
            </controller_action_predispatch>
            <checkout_cart_save_after>
                <observers>
                    <amxcoupon>
                        <type>singleton</type>
                        <class>amxcoupon/observer</class>
                        <method>handleCheckoutCartSaveAfter</method>
                    </amxcoupon>
                </observers>
            </checkout_cart_save_after>     
            <salesrule_validator_process>
                <observers>
                    <amxcoupon>
                        <type>singleton</type>
                        <class>amxcoupon/observer</class>
                        <method>handleSalesruleValidatorProcess</method>
                    </amxcoupon>
                </observers>
            </salesrule_validator_process>                   
        </events> 
	</frontend>
	
	<adminhtml>
        <events>
            <salesrule_rule_save_after>
                <observers>
                    <amxcoupon>
                        <type>singleton</type>
                        <class>amxcoupon/observer</class>
                        <method>handleSalesruleRuleSaveAfter</method>
                    </amxcoupon>
                </observers>
            </salesrule_rule_save_after>
            <salesrule_rule_delete_after>
                <observers>
                    <amxcoupon>
                        <type>singleton</type>
                        <class>amxcoupon/observer</class>
                        <method>handleSalesruleRuleDeleteAfter</method>
                    </amxcoupon>
                </observers>
            </salesrule_rule_delete_after>
        </events> 
	</adminhtml>	
</config>