<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Mktvendors>
            <version>0.1.0</version>
        </Craftsvilla_Mktvendors>
    </modules>
    <frontend>
        <routers>
            <mktvendors>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Mktvendors</module>
                    <frontName>mktvendors</frontName>
                </args>
            </mktvendors>
        </routers>
        <layout>
            <updates>
                <mktvendors>
                    <file>mktvendors.xml</file>
                </mktvendors>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<Mktvendors>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Mktvendors</module>
					<frontName>mktvendors</frontName>
				</args>
			</Mktvendors>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<report>
				<children>
					<mktvendors module="mktvendors">
						<title>Mktvendors Package</title>
						<sort_order>71</sort_order>               
						<!--<children>
							<items module="mktvendors">
								<title>Manage Items</title>
								<sort_order>0</sort_order>
								<action>mktvendors/adminhtml_mktvendors</action>
							</items>
						</children>-->
						<action>mktvendors/adminhtml_mktvendors</action>
					</mktvendors>
				</children>
			</report>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<report>
							<children>					
								<mktvendors>
									<title>Mktvendors Module</title>
									<sort_order>10</sort_order>
								</mktvendors>
							</children>	
						</report>	
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mktvendors>
					<file>mktvendors.xml</file>
				</mktvendors>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <mktvendors>
                <class>Craftsvilla_Mktvendors_Model</class>
                <resourceModel>mktvendors_mysql4</resourceModel>
            </mktvendors>
            <mktvendors_mysql4>
                <class>Craftsvilla_Mktvendors_Model_Mysql4</class>
                <entities>
                    <mktvendors>
                        <table>mktvendors</table>
                    </mktvendors>
                </entities>
            </mktvendors_mysql4>
        </models>
        <resources>
            <mktvendors_setup>
                <setup>
                    <module>Craftsvilla_Mktvendors</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mktvendors_setup>
            <mktvendors_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mktvendors_write>
            <mktvendors_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mktvendors_read>
        </resources>
        <blocks>
            <mktvendors>
                <class>Craftsvilla_Mktvendors_Block</class>
            </mktvendors>
        </blocks>
        <helpers>
            <mktvendors>
                <class>Craftsvilla_Mktvendors_Helper</class>
            </mktvendors>
        </helpers>
    </global>
</config>