<?xml version="1.0"?>
<config>
      <modules>
        <Craftsvilla_Generalcheck>
          <version>0.1.0</version>
        </Craftsvilla_Generalcheck>
      </modules>
	  <frontend>
      <routers>
        <generalcheck>
          <use>standard</use>
         <args>
           <module>Craftsvilla_Generalcheck</module>
           <frontName>generalcheck</frontName>
         </args>
        </generalcheck>
      </routers>
	  <layout>
          <updates>
              <generalcheck>
                  <file>generalcheck.xml</file>
              </generalcheck>
          </updates>
      </layout>
    </frontend>
   <global>

   
   
      <helpers>
       <generalcheck>
           <class>Craftsvilla_Generalcheck_Helper</class>
       </generalcheck>
      </helpers>   
<models>
            <generalcheck>
                <class>Craftsvilla_Generalcheck_Model</class>
            </generalcheck>
        </models>
		<events>
           
		 <catalog_product_save_after>
		        <observers>
		            <generalcheck>
		                <class>Craftsvilla_Generalcheck_Model_Observer</class>
		                <method>crmTogetProductEventafter</method>
		            </generalcheck>
		        </observers>
		    </catalog_product_save_after>
</events>
<template>
     <email>
		<productupdate_notify>
		          <label>Product Notification Email</label>
		          <file>productupdate_notify.html</file>
		          <type>html</type>
		   </productupdate_notify>
	</email>
	</template>
	  <blocks><generalcheck><class>Craftsvilla_Generalcheck_Block</class></generalcheck></blocks>
   </global> 
   

</config> 
