<?xml version="1.0"?>
<config>
	<global>
		<modules>
                <Craftsvilla_Coupons>
                        <version>0.1.0</version>
                </Craftsvilla_Coupons>
        </modules>
		<blocks>
				<Coupons>
					<rewrite>
			 <Coupons>Craftsvilla_Coupons_Block_Coupons</Coupons>
			</rewrite>
				</Coupons>
		 </blocks>
                <models>
			<salesrule>
                            <rewrite>
                                    <validator>Craftsvilla_Coupons_Model_Validator</validator>
                            </rewrite>
		    </salesrule>
		</models>
     </global>
	   <frontend>
                <routers>
                        <Coupons>
                                <use>standard</use>
                                <args>
                                      <module>Craftsvilla_Coupons</module>
                                      <frontName>coupons</frontName>
                                </args>
                        </Coupons>
                </routers>
		<layout>
			<updates>
				<Coupons>
		   		      <file>coupons.xml</file>
				</Coupons>
			</updates>
       </layout>
        </frontend>
        <crontab>
          <jobs>
              <Coupons>
                  <schedule>
                      <cron_expr>30 4 * * *</cron_expr>
                  </schedule>
                  <run>
                      <model>Coupons/Observer::getDeleteCoupon</model>
                  </run>
              </Coupons>
          </jobs>
      </crontab>
</config>
