<?xml version="1.0"?>
<config>
    <modules>
        <Craftsvilla_Mktngproducts>
            <version>0.1.0</version>
        </Craftsvilla_Mktngproducts>
    </modules>
    <frontend>
      <routers>
            <mktngproducts>
                <use>standard</use>
                <args>
                    <module>Craftsvilla_Mktngproducts</module>
                    <frontName>mktngproducts</frontName>
                </args>
            </mktngproducts>
        </routers>
        <layout>
            <updates>
                <mktngproducts>
                    <file>mktngproducts.xml</file>
                </mktngproducts>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mktngproducts>
				<use>admin</use>
				<args>
					<module>Craftsvilla_Mktngproducts</module>
					<frontName>mktngproducts</frontName>
				</args>
			</mktngproducts>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		<catalog>
		<children>
			<mktngproducts module="mktngproducts">
				<title>Marketingproducts</title>
				<sort_order>71</sort_order>               
				<action>mktngproducts/adminhtml_mktngproducts</action>
			</mktngproducts>
		</children>
		</catalog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
					<catalog>
					<children>
						<mktngproducts translate="title" module="mktngproducts">
									<title>Mktngproducts Module</title>
									<sort_order>10</sort_order>
								</mktngproducts>
					</children>
					</catalog>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mktngproducts>
					<file>mktngproducts.xml</file>
				</mktngproducts>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <mktngproducts>
                <class>Craftsvilla_Mktngproducts_Model</class>
                <resourceModel>mktngproducts_mysql4</resourceModel>
            </mktngproducts>
            <mktngproducts_mysql4>
                <class>Craftsvilla_Mktngproducts_Model_Mysql4</class>
             <entities>
                    <mktngproducts>
                        <table>mktngproducts</table>
                    </mktngproducts>
                </entities>
            </mktngproducts_mysql4>
        </models>
        <resources>
            <mktngproducts_setup>
                <setup>
                    <module>Craftsvilla_Mktngproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mktngproducts_setup>
            <mktngproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mktngproducts_write>
            <mktngproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mktngproducts_read>
        </resources>
        <blocks>
            <mktngproducts>
                <class>Craftsvilla_Mktngproducts_Block</class>
            </mktngproducts>
        </blocks>
        <helpers>
            <mktngproducts>
                <class>Craftsvilla_Mktngproducts_Helper</class>
            </mktngproducts>
        </helpers>
        <blocks>
        	<adminhtml>
                <rewrite>
                    <adminhtml_mktngproducts_grid>Craftsvilla_Mktngproducts_Adminhtml_Block_Adminhtml_Mktngproducts_Grid</adminhtml_mktngproducts_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>
