<?xml version="1.0"?>
<config>
    <sections>
        <sms translate="label" module="sms">
            <label>SMS</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>980</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<server_url translate="label">
                            <label>Server Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </server_url>
						<user_name translate="label">
                            <label>User Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </user_name>
						<password translate="label">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </password>
						<source translate="label">
                            <label>Source</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </source>
                    </fields>
                </general> 
            </groups>
        </sms>
    </sections>
</config>
